[2013-12-05 23:02] joshuap opened #15 "Console logging"
Add an option to log errors to console when calling Honeybadger.notify.

[2014-02-19 20:52] stevenjonescgm opened #18 "lib errors if body tag not yet processed"
In Chrome 32.0.1700.107
I am investigating adding honeybadger-js to my project, and plan to use ```onerror: true``` for the first bit to get an idea what areas are worth explicit try-catches.
When testing the integration, I first caused an exception just after initializing the lib while inside the head.

Uncaught TypeError: Cannot call method 'appendChild' of null honeybadger.js?body=1:1414
Honeyb

[2014-10-21 13:38] panrafal opened #25 "No way to use fingerprinting"
I couldn't find a way to use fingerprinting as in here:

http://docs.honeybadger.io/article/36-exception-grouping

Using `fingerprint` as an option in `notify` obvously doesn't work as it's not handled in the Notice class. Could you add it to the API?

[2015-01-20 17:31] bswinnerton opened #27 "Cannot connect to https://js.honeybadger.io from IE8"
It appears that in Internet Explorer 8, the following URL does not resolve: https://js.honeybadger.io/v0.2/honeybadger.min.js. This means that when trying to use the code snippet provided in the honeybadger-js [README.md](https://github.com/honeybadger-io/honeybadger-js/blob/cca415c65948c4b965ac464e35750cde84d08be0/README.md):

[code]

The schemaless connection will fail, and the following error a

[2015-01-20 17:35] joshuap commented on #27
Hi Brooks, thanks for the bug report. I think you can solve that problem by just using the HTTPS version of honeybadger.min.js all the time:

[code]

I'll probably end up updating our instructions to recommend that.

[2015-01-20 17:35] #27 closed

[2015-01-20 17:38] bswinnerton commented on #27
Hi @joshuap, unfortunately browsing to https://js.honeybadger.io/v0.2/honeybadger.min.js in Internet Explorer returns a connection error, so that's not possible.

[2015-01-20 17:40] starrhorne commented on #27
FWIW, it seems to work ok for me on ie8/win7.

[2015-01-20 17:40] bswinnerton commented on #27
I'm running IE8 on Windows XP from [Modern.IE](https://www.modern.ie/en-us/virtualization-tools).

[2015-01-20 17:42] joshuap commented on #27
What is the connection error returned for https://js.honeybadger.io/v0.2/honeybadger.min.js?

[2015-01-20 17:45] bswinnerton commented on #27
I'm not entirely sure how to get the numeric error number from Internet Explorer, but found [this](http://windows.microsoft.com/en-us/windows/get-help-website-http-errors#1TC=windows-81) from Microsoft's KB suggesting that it's a 500. An expanded version of the error can be found here:

![screen shot 2015-01-20 at 12 45 45 pm](https://cloud.githubusercontent.com/assets/934497/5822450/4565b792-a0a2

[2015-01-20 17:46] starrhorne commented on #27
I have duplicated this problem on ie8/xp.

It seems to have something to do with SSL. The non-ssl url works fine. The ssl url results in a "cannot connect to this webpage, maybe the server is offline" error.

[2015-01-20 18:29] starrhorne commented on #27
So we identified the problem, and it turns out that most CDNs (including cloudfront, the one we use) don't support SSL on Windows XP.

We'll investigate alternative hosting arrangements, but for now the quickest solution would be to host the JS library yourself.

[2015-02-13 14:48] paracycle opened #28 "0.2.0 release needs a tag for Bower"
Without the tag in place Bower can't find the version...

[2015-02-13 16:28] joshuap commented on #28
The tag has been pushed. Thanks!

[2015-02-13 16:28] #28 closed

[2015-02-13 16:29] joshuap commented on #18
This should be resolved now.

[2015-02-13 16:29] #18 closed

[2015-02-13 16:32] joshuap commented on #25
Sorry for not responding to this sooner, I just noticed the reply... :\ If you're still having trouble with fingerprinting, please email me at support@honeybadger.io and I'll check out your project.

[2015-02-13 16:32] #25 closed

[2015-04-20 19:18] mockdeep opened #29 "Converting circular structure to JSON"
We're getting this error from the old android stock browser `Converting circular structure to JSON`. user agent:

[code]

It appears to be originating from within Honeybadger as it is trying to serialize another error. Here's a stack trace:

[code]

My theory is that the old android browser returns some sort of self-referential error object, which Honeybadger is trying to serialize with `JSON.stri

[2015-04-21 00:18] joshuap commented on #29
Thanks Robert, I'll work on a fix for that.

[2015-06-10 19:02] mockdeep opened #30 ""'Honeybadger' is undefined" on Windows/IE"
We're seeing this error pretty frequently on Windows machines: "'Honeybadger' is undefined". It seems to be almost entirely on Windows XP with IE8, but we've also seen it a handful of times on Windows 7 up to IE10. On Browserstack we see it consistently with XP/8.

[2015-06-10 19:35] mockdeep commented on #30
Also just noticed we've got a handful of "Uncaught ReferenceError: Honeybadger is not defined" in Chrome. We're using TrackJS and managed to get a scrap of a stack trace:

[code]

Looks like an adware virus is inserting itself into the page, so not sure if there's anything to be done.

[2015-06-10 19:52] mockdeep commented on #30
Actually, turns out that's one of our ignores, so that doesn't appear to be the issue.

[2015-06-10 22:11] joshuap commented on #30
@mockdeep how are you loading Honeybadger? Is it via the CDN in the head tag, before your other scripts are loaded?

[2015-06-10 22:46] mockdeep commented on #30
Yep. In our layout we have exactly:

[code]

[2015-06-15 23:32] joshuap commented on #30
Hmm, well this could have something to do with the CDN, although I've never seen this before. Did the browser give you any errors related to the honeybadger.min.js file loading in the browsers which had this error? Also, have you tried loading honeybadger.min.js from your own domain?

[2015-06-15 23:46] mockdeep commented on #30
I was actually able to reproduce this error by blocking scripts from `honeybadger.io`, so I'm wondering if they have a script blocker enabled. We'll try using the bower version instead.

[2015-06-15 23:46] #30 closed

[2015-07-21 20:45] mockdeep commented on #29
bump on this. We're still seeing it a couple of times a week from older android browsers.

[2015-07-21 21:21] joshuap commented on #29
@mockdeep gotcha; I should have time to look at it again this week.

[2015-07-28 17:23] joshuap commented on #29
@mockdeep can you check out 09f95b433a426ebc8bc15e43a49c3d8fbb654747 and let me know if http://js.honeybadger.io/honeybadger-0.2.1.min.js fixes the issue? If it does I'll release the update to v0.2 on our CDN.

[2015-07-28 19:21] mockdeep commented on #29
Thanks @joshuap I'll give that a try and see how it works out. Unfortunately, we don't have a solid way to reproduce the error, but I'll pop back in here if we see it happen again. The logic looks sound, at any rate.

[2015-07-28 19:26] mockdeep commented on #29
Actually, we're using the [rails-assets](https://rails-assets.org/) version of honeybadger-js, so I don't think we have a clean way of updating until you push to bower...

[2015-07-28 20:44] joshuap commented on #29
@mockdeep I just released 0.3.0 which should be available via Bower now ([as well as the CDN](http://js.honeybadger.io/v0.3/honeybadger.min.js)). Let me know how it goes!

[2015-07-28 20:44] #29 closed

[2015-07-28 20:46] mockdeep commented on #29
Sweet! Will do.

[2015-07-28 22:19] mockdeep commented on #29
On bower I'm seeing two packages for honeybadger: `honeybadger.js` and `honeybadger-io--honeybadger-js`. The first one hasn't been updated to version `0.3.0` and the second has. Should we be using the second one?

[2015-07-28 22:23] joshuap commented on #29
that's odd, I'm seeing just honeybadger.js here:

http://bower.io/search/?q=honeybadger

it should definitely be just "honeybadger.js". Does our bower.json look OK to you? https://github.com/honeybadger-io/honeybadger-js/blob/master/bower.json

[2015-07-28 22:37] mockdeep commented on #29
Hmm, maybe it's a bug on `rails-assets`. I'm seeing this:

![hbadger](https://cloud.githubusercontent.com/assets/80543/8945707/977e3a28-353e-11e5-8913-4ba2d80cee55.png)

[2015-07-29 16:17] joshuap commented on #29
@mockdeep rails-assets is showing 0.3.0 for the honeybadger.js entry now. Not sure why there are two entries; feel free to ignore honeybadger-io--honeybadger-js.

[2015-07-29 16:52] mockdeep commented on #29
Cool, will give that one a shot. Thanks!

[2015-08-10 10:12] zinkkrysty opened #32 "CORS not allowed?"
I am trying to test the JS error reporting in development, but so far I get this error:

[code]

This is the config script in the `<head>` tag:

[code]

Does it only work in production?

[2015-08-10 10:15] zinkkrysty commented on #32
Hmm now it seems to work, the API key was probably too fresh :)

[2015-08-10 10:15] #32 closed

[2015-08-10 12:55] zinkkrysty opened #33 "What is the best practice for reporting application-generated JS errors?"
I have enabled honeybadger-js errors with `onerror: true`, and I am getting a lot of errors some of which come from external libraries and other script files loaded in the client browser. Is there any best practice for wrapping one's own code with `try catch notify` other than doing it for every piece of code that "might break"?

How are other people doing this, can we see some examples?

[2015-08-10 17:28] joshuap commented on #33
You currently have these options:

1. Use any error handling hooks your framework provides (although this might not catch *all* errors in your application code).
2. Use try/catch.
3. Alternatively, we provide a `Honeybadger.wrap` function which makes the try/catch approach a bit easier. More on that [here](http://docs.honeybadger.io/article/199-catching-javascript-errors-in-callbacks).
4. If you'r

[2015-08-10 17:28] #33 closed

[2015-08-11 07:15] zinkkrysty commented on #33
Thanks for writing down the options. It's useful to know them.

However, in a traditional Rails app, if you have a lot of files included with the `//= require filename` directive, I don't know exactly how the wrap will be used, as Sprockets (the asset pipeline) doesn't allow the require directives to be wrapped with other code, so the only option will be to wrap the code within every single file w

[2015-08-11 08:25] zinkkrysty commented on #33
I updated the [honeybadger-jquery.js](https://gist.github.com/zinkkrysty/14bccc4466a3f1f6d2f0) file (with better checks) in case anyone needs it.

[2015-08-12 18:40] mockdeep opened #34 "Accessing selectionEnd on an input element that cannot have a selection"
Ugh, now that we're one level deeper we're now seeing this error:

[code]

It looks like part of the serialization process ends up trying to iterate across a DOM node at times and comes across a property that doesn't want to be touched. Came across this SO question: http://stackoverflow.com/questions/11547672/how-to-stringify-event-object

[2015-08-12 19:21] joshuap commented on #34
hmm, do you have any idea how the event object is getting added to the honeybadger payload? i.e. is it being added to the context or something? I don't think we should normally be including stuff like that by default.

[2015-08-12 19:23] joshuap commented on #34
Also, is the error when converting the payload to JSON, or does it happen in the `_santize` method? If the latter, maybe I could just try/catch errors when accessing keys in that method and return an object like `{ "error": "Accessing selectionEnd on an input element that cannot have a selection." }` instead.

[2015-08-12 19:28] mockdeep commented on #34
Oh, hmm, I guess I thought the error being serialized might have a DOM node in there somewhere. We don't add it to the context in our application. It's turning up within the `_sanitize` method, so I think your idea of adding the try/catch would do the trick.

[2015-08-12 19:47] joshuap commented on #34
Do you think it could have anything to do with [accessing `navigator`](https://github.com/honeybadger-io/honeybadger-js/blob/master/src/notice.coffee#L51)?

[2015-08-12 19:47] joshuap commented on #34
Although I guess in that statement we are excluding objects entirely.

[2015-08-12 20:29] mockdeep commented on #34
As far as I can tell it seems to be happening within `_sanitize` [here in the compiled source](https://github.com/honeybadger-io/honeybadger-js/blob/master/honeybadger.js#L153). Not super helpful, since we don't have source maps, but our trace looks like this:

[code]

You can `wget` that file (while it's cached) and page over to column `2182` to see where it is coming from. We discover more js we

[2015-08-12 23:18] joshuap commented on #34
How about 06f15125b1ef41cbdfd981436f23f74afb207268?

[2015-08-12 23:48] #15 closed

[2015-08-12 23:58] mockdeep commented on #34
That looks like it'll do the trick.

[2015-08-13 17:01] joshuap commented on #34
I've released 0.3.1.

[2015-08-13 17:01] #34 closed

[2015-08-13 17:01] joshuap opened #35 "Send params and cookies."

[2015-11-18 00:56] mockdeep opened #37 "`require` oddities with bower and sprockets 3"
Not entirely sure if this is an issue with `honeybadger-js` or elsewhere. We're using the bower package through `rails-assets` and when we tried to upgrade `sprockets` to version 3 we got an odd error:

[code]

We took a peek in the gem generated by `rails-assets` and it turns out there's a `honeybadger.js.js` file with a second `.js` on the end, and changing our require line to:

[code]

fixed th

[2015-11-20 17:18] joshuap commented on #37
@mockdeep thanks, I'll look into this and figure out why bower is messed up. I seem to remember some weirdness there in the past.

[2015-11-20 18:53] joshuap commented on #37
I think I see what's happening. We've named our bower package "honeybadger-js". Apparently rails-assets creates the root asset file based on the package name, not on the main src file. It also seems to be converting the `-` in the name to a `.` and then appending `.js`, so you get `honeybadger.js.js`.

I see two solutions:

1. Update our docs to say to use `honeybadger.js.js` when using rails-asse

[2015-11-20 19:55] mockdeep commented on #37
Hmm, well the first feels kind of odd, so I guess I'd vote on the second. Maybe deploy a version to `honeybadger-js` that points people at the new version. I was going to suggest maybe opening an issue on rails assets, but it looks like [they don't have a bright future](https://github.com/rails-assets/rails-assets/issues/291). We just set up `browserify-rails`, so we'll probably be moving things o

[2015-12-14 00:06] mockdeep opened #38 "Ability to require with `browserify`?"
I'm using `npm` and `browserify` for client side packages and tried adding `honeybadger-js`, but can't `require` it in my application via the package. I'm not sure if there is a canonical preferred way to handle this, but I've seen [some libraries](https://github.com/golmansax/backbone-sortable-collection/blob/master/lib/backbone_sortable_collection.js#L2-L16) add a `module.exports` if it makes se

[2015-12-14 00:08] mockdeep commented on #38
Or can [honeybadger-node](https://github.com/honeybadger-io/honeybadger-node) be used client side?

[2015-12-14 21:04] joshuap commented on #38
@mockdeep no, honeybadger-node can't be used client-side unfortunately. I might be interested in doing a hybrid package but in the past it didn't seem very feasible. In the meantime, we added the `honeybadger-js` package for anyone who wanted to include the client-side version using npm, but I'm not familiar with how to set that up with browserify. I'll have to do some digging on this; the good ne

[2016-01-19 18:05] joshuap commented on #38
@mockdeep can you take a look at eee2ac42a073e7952830f3c136b88ebfe3154bbd/76f8e0f506ad42d5fcdb8625ef8226dc26f8feae (on the [instrumentation](https://github.com/honeybadger-io/honeybadger-js/tree/instrumentation) branch and let me know what you think? I ended up going with the UMD pattern (which supports commonjs `exports` (browserify) as well as AMD (requirejs)).

[2016-01-19 18:32] mockdeep commented on #38
@joshuap looks like that will do the trick. Thanks!

[2016-02-04 09:43] prakashregmi opened #39 "How to know Honeybadger.notify is successful."
While sending notice using Honeybadger.notify, I want to know whether sending notice is success or not. Is there anyway like callback function that I can provide which will be called after successful notification. I feel irritated using because sometimes it works but sometimes not.

[2016-02-05 08:10] #39 closed

[2016-02-05 08:12] madhurakhal opened #40 "How to know Honeybadger.notify is successful"
While sending notice using Honeybadger.notify, I want to know whether sending notice is success or not. Is there anyway like callback function that I can provide which will be called after successful notification. I feel irritated using because sometimes it works but sometimes not.

[2016-02-17 19:36] joshuap commented on #35
We're recommending that cookies be selectively added to context if you want to send them to honeybadger -- that way we don't have the security concerns of blindly sending all cookie values by default. See 325e61a303c2f60737b15fd207b73ce9faf6789b.

[2016-02-17 19:36] #35 closed

[2016-02-18 22:49] joshuap commented on #40
@madhurakhal can you give me an example of when the notification does not work? Do you mean it doesn't work due to throttling by the server or something like that?

[2016-02-18 22:52] #38 closed

[2016-02-19 17:30] actionnick opened #41 "Browserify compatibility issues."
Followed the README instructions and ran into some issues.

First thing that didn't work was that the README says to do `var Honeybadger = require("honeybadger");`. This errors out because it can't find `honeybadger`. Instead you have to do  `var Honeybadger = require("honeybadger-js/honeybadger");`

Second thing is that this file doesn't actually seem to be written as a module so `Honeybadger` is

[2016-02-20 01:03] joshuap commented on #41
Browserify support hasn't been released yet (current version is 0.3, master is 0.4 (unreleased), so it won't work if you download honeybadger.js from npm/bower etc. That said, as of today browserify should be fully supported by master. Can you download a new copy of [honeybadger.js](https://github.com/honeybadger-io/honeybadger-js/blob/master/honeybadger.js) and try it with that? You can see a ful

[2016-02-22 18:21] actionnick commented on #41
Ahh okay. You can install packages from NPM through github, so maybe change the README documentation to `var Honeybadger = require("honeybadger-js/honeybadger");` or `var Honeybadger = require("honeybadger-js");` and specify `"main": "./honeybadger.js"` in package.js.

[2016-02-22 18:37] joshuap commented on #41
@actionnick make sense, thanks. I made some updates (added the main directive and updated the readme). Because this is a front-end-only lib and the require paths will be different between bower/npm/github, I changed the example paths to make it more obvious that you need to choose one for your environment: "path/to/honeybadger". Btw, does browserify + honeybadger work for you now?

[2016-02-22 18:44] actionnick commented on #41
Yes it does with this require `var Honeybadger = require("honeybadger-js/honeybadger");` and this in my package.json, `"honeybadger-io/honeybadger-js"`. Thanks for the help!

[2016-02-22 18:48] joshuap commented on #41
Great, happy to help!

[2016-02-22 18:48] #41 closed

[2016-02-22 19:42] joshuap commented on #37
As of v0.4.0 the bower package has been renamed to "honeybadger", so now you can do:

[code]

[code]

v0.3.x and earlier should still continue to function normally, but you may need to change local references to "bower_components/honeybadger-js" to "bower_components/honeybadger" when upgrading to v0.4.0.

[2016-02-22 19:42] #37 closed

[2016-02-22 19:45] mockdeep commented on #37
Great, thanks!

[2016-02-22 19:54] joshuap commented on #29
@mockdeep if you try out v0.4.0 of honeybadger.js, you may notice that I am handling circular data structures differently after the rewrite (we are no using plain JS, not CoffeeScript).

Rather than specifically try to remove circular dependencies (which adds a lot of overhead, because you have to iterate over potentially deeply nested objects, I've added a new "max depth" option which will simply

[2016-02-22 19:55] joshuap commented on #29
Also, we are no longer converting data to JSON at all, so that may also solve the same issue.

[2016-02-22 19:56] mockdeep commented on #29
Sounds good, I'll keep that in mind.

[2016-03-23 23:50] CGamesPlay opened #42 "Source maps only for Honeybadger"
I would like to use the source map support for Honeybadger, but I don't want to expose my source maps to the world. How can I accomplish this?

Preferably, I would like to set a project setting to provide a hidden path where the source maps can be located.

I could also distinguish by user agent, although this is obfuscation, not security. Then again minified sources are just obfuscation, so this

[2016-03-24 19:58] starrhorne commented on #42
Hi Ryan,

We send along a special HTTP header with a secret that you can use to authenticate our sourcemap requests. The header is `Honeybadger-Token`.

Assuming your project is a "Client Side JS" project,  go to "Project Settings" > "Sourcemaps" and scroll to the bottom to get your secret.

If you need to, you can edit the project language by going to "Project Settings" > "Edit".

Let us know if

[2016-03-24 19:58] #42 closed

[2016-03-24 20:55] CGamesPlay commented on #42
This is great. Thanks!

[2016-03-24 20:56] starrhorne commented on #42
np!

[2016-04-14 15:46] mockdeep opened #43 "Broken on IE8"
Not sure which browsers you intend to support, but loading honeybadger-js in IE8 causes errors in our application. I suspect there is another error, but Honeybadger throws when reporting it. It seems to be coming from [this line](https://github.com/honeybadger-io/honeybadger-js/blob/15cf70a79e22cc9af27810988e68c71a31ff9c7e/honeybadger.js#L463), saying `'original' is null or not an object'`.

[2016-04-14 16:06] joshuap commented on #43
@mockdeep we support down to IE 6, so it sounds like there is a bug. Here's our current CI test matrix:

https://github.com/honeybadger-io/honeybadger-js/blob/master/Gruntfile.js#L2

That instrumentation code *should* be covered by the tests, and we also have a file which you can manually test browser events with [here](https://github.com/honeybadger-io/honeybadger-js/blob/master/spec/events.html)

[2016-04-14 16:30] mockdeep commented on #43
Yeah, we're using [es5-shim](https://github.com/es-shims/es5-shim) for polyfilling. We'll keep digging and see what we can find.

[2016-04-14 18:37] mockdeep commented on #43
So it looks like IE versions prior to 9 [don't support `addEventListener`](http://caniuse.com/#feat=addeventlistener). I'm not seeing a polyfill in your code, but the above referenced `instrument` call seems to be expecting the function to be defined. `es5-shim` doesn't define an `addEventListener` function for us because it was added to the spec prior to es5. Do we need to define our own polyfill

[2016-04-14 18:45] joshuap commented on #43
Ah, you know what; I bet we're adding the instrumentation when we shouldn't be, and then maybe some other code which checks for the presence of `addEventListener` is finding ours when it shouldn't. It could be that es5-shim is polyfilling a global object which we're looking for when we add our version of the function. I'm thinking we should just add a check to make sure there is already an `addEve

[2016-04-14 18:53] joshuap commented on #43
@mockdeep how does this look? a447ea16aea50b45b8405cd997af8a77e04400bd

[2016-04-14 19:23] joshuap commented on #43
Looks like sauce labs is having some issues today so I haven't been able to run the build yet.

[2016-04-15 02:35] joshuap commented on #43
@mockdeep the fix has been released. Let me know how this works for you now. Thanks!

[2016-04-15 02:35] #43 closed

[2016-04-15 03:01] mockdeep commented on #43
:+1: Seems to have done the trick. Thanks!

[2016-06-01 17:25] afraser opened #44 "Install instructions suggest --save-dev"
The installation instructions suggest saving this package as a devDependency rather than a strict dependency.

`npm install honeybadger-js --save-dev`

Can someone explain to me why this is? It doesn't seem right.

[2016-06-03 16:08] joshuap commented on #44
Looks like a typo.

[2016-08-16 10:43] vorillaz opened #46 "Testing the API"
Hello there, thanks for this quite nice module. In our app we are using honeybadger on production and staging environment as well. I was wondering if there is any proper way to write unit tests against our error handler configuration.

I think I might replicate your specs but shall we trigger any errors in order to test the app on development as well?

[2016-08-16 16:05] starrhorne commented on #46
Hi Theodore,

Generally we recommend that your tests go up to the point that `Honeybadger.notify` is called. After that I'd rely on our library's specs to ensure that the delivery process happens correctly.

If you're trying to make sure that a particular error is being automatically captured and reported, you can do so via the [Honeybadger.beforeNotify](https://github.com/honeybadger-io/honeybadg

[2016-08-29 17:27] joshuap commented on #46
@vorillaz in our unit tests we use [sinonjs](http://sinonjs.org/) to mock the xmlhttprequest API so that live requests aren't made (and we can still verify the requests happen). You could also do that, or your could take @starrhorne's approach of just stubbing the `Honeybadger.notify` call.

[2016-08-29 17:27] #46 closed

[2016-08-29 17:29] #44 closed

[2016-09-23 18:19] nshoes opened #48 "Configure API is not consistent"
The API for `configure` is different between [honeybadger-js](https://github.com/honeybadger-io/honeybadger-js#globally) and [honeybadger-node](https://github.com/honeybadger-io/honeybadger-node#3-set-your-api-key). The browser version requires snake case as keys, and the node version requires camel case. This makes it difficult for people (like myself) who run their code in the browser and test i

[2016-12-15 04:26] butchler opened #51 "Add option to send API request with POST"
Currently, if the context is too large, the request fails with a `414 Request-URI Too Large` status. If the context could be stored in the data of a  `POST` request, maybe the request would not fail.

I know that this might not be possible in browsers that don't support `XMLHttpRequest`, but if your app requires `XMLHttpRequest` anyway, it would be nice to be able to opt-in to using `POST` to avoi

[2016-12-21 18:34] joshuap commented on #51
@butchler thanks for the suggestion! This is already on my todo list, actually. I'm planning on looking into adding support for larger payloads specifically for the purpose of including Redux state early next year.

[2016-12-22 01:15] butchler commented on #51
Thank you :)

[2017-01-11 06:36] Munksey opened #53 "notify breaks when context contains a Symbol"
The `serialize` method will handle a function properly, but does not work when there is a Symbol.

Even though I am not having this problem personally, the method assumes that all the keys in the object are serializable, which is not necessarily true. Although, I am not sure what an elegant way of handling this is.

At the very least, it might be nice if honeybadger had some logic to send a generi

[2017-01-19 21:58] snex opened #54 "API Key security"
I have seen several issues here about the security of API keys in the javascript library, and it is being stated that this is just the nature of client side and we must accept that malicious users can steal our key and post errors to our Honeybadger app if they want.

I am sorry but this is simply not the case. There is no reason that API keys cannot be tied to the originating domain(s) specified

[2017-01-26 08:25] afgomez opened #56 ""Property 'hasOwnProperty' of object #<error> is not a function" reported in honeybadger"
While debugging our own Javascript exceptions I found one that I think might exists in honeybadger itself, or at least that's what honeybadger is telling me :)

All exceptions are coming from `Android Browser 4.0`.

![screen shot 2017-01-26 at 09 22 48](https://cloud.githubusercontent.com/assets/57448/22324354/0dda4116-e3a9-11e6-9e8c-5d85c00ecc67.png)

[2017-01-26 18:36] joshuap commented on #53
@Munksey would you be able to provide a failing test case (or just an example) of how I can produce the error?

[2017-01-26 18:40] joshuap commented on #48
It looks like api_key and project_root are the only options that differ. I'd be OK with switching to prefer camel case but also keep support for the existing snake case options.

[2017-01-26 18:42] joshuap commented on #56
@afgomez thanks, looks like you may be right. :) I'll see if I can reproduce this.

[2017-01-26 18:50] joshuap commented on #54
@snex thanks for the suggestion. I'm not opposed to adding better API key security, but I don't want to just make it more difficult (but still possible, i.e. by spoofing the referer) to circumvent. Can you give me some examples of other open source libraries which solve this issue securely on the client-side?

[2017-01-26 19:22] snex commented on #54
There are two ways I can think of at the moment:

1) Set CORS config on the honeybadger servers to only accept requests on behalf of the user. This would probably require a unique subdomain for each user, or some way to differentiate requests based on users. This way, the API key need not be secret. This method is susceptible to spoofing, as you mentioned.

2) Generate a token based on the secret

[2017-01-27 00:11] Munksey commented on #53
You will need to run this on a modern browser. I am using the latest version of Chrome (v55) for Mac OS X (although I get this bug on Firefox, too). You can maybe add these tests to the testrunner.

[code]

The problem is that `serialize` cannot run `encodeURIComponent` on a Symbol, as they can't be cast to strings.

[2017-02-01 16:11] joshuap commented on #54
Thanks for the explanation. I'm going to pass on this one for now; I don't see the benefit of adding extra hoops to jump through when it's still possible to circumvent since the secrets will always be client-side one way or another.

[2017-02-01 16:11] #54 closed

[2017-02-01 17:46] #53 closed

[2017-02-01 17:46] joshuap commented on #53
@Munksey thanks!

[2017-02-02 22:54] #48 closed

[2017-02-03 08:22] afgomez commented on #56
Thanks a lot!

[2017-02-08 20:29] joshuap commented on #51
I've reverted the change I made related to this issue for now; it's still on the roadmap, but I need to think about the approach a while longer so that we can maintain cross-browser support.

[2017-02-13 09:11] afgomez opened #57 "`Too much recursion` inside honeybadger.js"
Hi!

There was some error in Honeybadger.js that trigger some error in Honeybadger.js that trigger some error in Honeybadger.js that...

We have four instances from this error, all coming from Firefox 51. The library where the error comes from is https://www.npmjs.com/package/react-sortablejs.

An screenshot with the error, and the line inside honeybadger recursing.

![screen shot 2017-02-13 at 09

[2017-02-13 17:27] joshuap commented on #57
Hi @afgomez, are you explicitly using `Honeybadger.wrap` anywhere in your app? That's what is causing the multiple honeybadger.js:356 locations in your stack. We also do some automatic instrumentation which uses `wrap` to automatically wrap event handlers and `setTimeout`, so if you're not using the wrap function yourself then it's likely being applied by the instrumentation.

The reason I ask is

[2017-02-21 09:33] butchler commented on #51
That's fine. Should this issue be re-opened, though?

[2017-02-23 19:01] joshuap commented on #51
Yeah, reopening.

[2017-03-17 05:39] butchler opened #59 "Better grouping of errors in single page applications"
NOTE: I think this is really an issue with the Honeybadger backend/UI and not the `honeybadger-js` client, so this is probably not the right place for this. However, it is something that probably only affects JavaScript single page applications. Please let me know if there is a more appropriate place for this.

According to http://docs.honeybadger.io/guides/api.html#sample-payload, Honeybadger use

[2017-03-29 17:46] joshuap commented on #59
Hi @butchler, thanks for the detailed post. I am working to address this issue in the next version of our source map feature. My goal is to eventually implement the first idea you mentioned -- add an option to use the source mapped stack trace for grouping. This will require some reworking of our pipeline, and that's dependent on some changes to the current source map feature which I'm currently w

[2017-04-07 22:14] abepetrillo opened #61 "Sourcemaps do not seem to be supported"
We have added the devtool option of `sourcemaps` as [suggested](https://github.com/honeybadger-io/honeybadger-js#sourcemaps). I've also checked that the file downloaded by the browser includes the sourcemap URL reference:

`//# sourceMappingURL=bundle-0505d8603c675bbace9b.js.map`

This file is available directly from the website, and honeybadger still cannot provide a stacktrace or decent line num

[2017-04-07 22:37] joshuap commented on #61
Currently it may take a minute or two for the source map to be applied to new errors. That's because we send alerts immediately, before trying to download the source map. Also, source maps are applied only to *new* errors, so if you had the same error before you uploaded your source map then you would need to delete the error for the source map to be applied the next time the error occurs. I'm act

[2017-04-07 22:37] #61 closed

[2017-04-10 13:04] abepetrillo commented on #61
Sure will email. The code was up for a while (1 hour?) and the source maps would have been uploaded at the same time.

So for client side errors, should be just delete all JS errors with each new deployment? Is there a way of doing this through an API? Again will email support thanks for the help.

[2017-04-17 19:28] mockdeep opened #62 ""Can't execute code from a freed script" on IE and Edge browsers"
It's unclear whether this is caused by Honeybadger or Honeybadger is just the messenger, but we've been seeing a lot of errors from IE and Edge browsers recently:

[code]

As near as I can tell it looks like it's coming from [here](https://github.com/honeybadger-io/honeybadger-js/blob/master/honeybadger.js#L363), when it calls `return fn.apply(this, arguments);`. Any idea what might be going on wi

[2017-04-20 00:19] joshuap commented on #62
@mockdeep not sure -- I haven't seen this before. I'm happy to try to reproduce it, though. Have you been able to reproduce yourself at all? It would be helpful to have a snippet that I could run in IE/Edge.

[2017-04-20 00:34] mockdeep commented on #62
@joshuap no, it's a pretty vague error and doesn't happen consistently. I think we can go ahead and close this. I suspect things like this have more to do with the user clicking around the page quickly or closing a browser tab while the page is loading. Thanks for getting back to me.

[2017-04-20 00:34] #62 closed

[2017-04-20 17:51] joshuap commented on #57
Closing this for now. Let me know if you still find it a problem.

[2017-04-20 17:57] joshuap opened #64 "Add an automated release task"
This is just another script that will eventually live in *bin/*.

[2017-04-20 17:59] joshuap opened #65 "Move commands in makefile to npm"
This will just consolidate the build commands that I run.

[2017-05-17 14:04] manchunlam opened #67 "Array is Converted to JSON Object in Honeybadger.notify"
When using `Honeybadger.notify` in the following situation

[code]

The _Context_ as shown in `honeybadger.io/projects/*/faults/*` is

[code]

Notice how `bar.hello` is no longer an array.

Could you please take a look?

Thank you.

[2017-05-20 20:00] HolixSF opened #68 "'prototype' is undefined"
In the event targets snippet from `bugsnag` im receiving an error where prototype is undefined.
[code]
im using webpack to bundle and might be running into an issue with transforming es2015 modules

[2017-05-20 21:17] HolixSF commented on #68
looks like theres a couple of undeclared variables in this snippet

[2017-05-23 15:34] joshuap commented on #68
@HolixSF thanks! b48a28ac40d5a098aaf42f5d75b113332aca6225 should fix this. Feel free to download/test it. I'm shooting for a new release by Thursday.

[2017-05-23 15:38] joshuap commented on #67
@manchunlam thanks, looks like a bug. I'll look into it.

[2017-05-23 15:39] #57 closed

[2017-05-25 21:15] joshuap commented on #67
I looked into this and unfortunately it's not something I can change at this time. Our current transport method uses a query string to send the error data to our servers, and that requires that I include the index of array items. A side effect is that those items are displayed as objects since there's no way to tell the difference (although they are also technically objects in JavaScript and shoul

[2017-05-25 21:15] #67 closed

[2017-05-25 21:15] #68 closed

[2017-06-01 00:22] HolixSF opened #70 "Receiving undefined variable errors"
**context**: spa static react app using webpack

When importing as a module, any function calls to the instance throws an undefined error in multiple places. I had previously created an issue(#68) where this initially started but it ended up throwing a chain of errors.

I am not sure if this is due to our build process or if it is due to source. I created a PR(#69) that ended up fixing our use cas

[2017-06-01 16:58] HolixSF commented on #70
**UPDATE**

Upon further investigation we found the cause to be in the babel configuration.
Specifically in the [transform-es2015-modules-commonjs](https://babeljs.io/docs/plugins/transform-es2015-modules-commonjs/) plugin.
We are using the `es2015` preset which includes this plugin. In the babel documentation, the `strict` option defaults to false. Not sure if the preset enforces different option

[2017-06-20 14:06] novito opened #71 "Notifications still sent even when environment is development"
# Problem

Even when Honeybadger is configured with environment being 'development', the notifications are being sent. This doesn't happen with the Ruby library.

# Expected behavior

By default don't notify if environment is 'development'

[2017-06-20 17:13] joshuap opened #72 "Halt notifications later in the error reporting process with `disabled` option"
Suggest by @novito.

With the `disabled: true` option, we currently halt notifications [here](https://github.com/honeybadger-io/honeybadger-js/blob/master/honeybadger.js#L260).

It would be better to move the `disabled` check to later in the process, after constructing the notice payload: basically stub out [the `request` function](https://github.com/honeybadger-io/honeybadger-js/blob/master/honey

[2017-06-20 17:18] joshuap commented on #71
@novito I agree that this would be a nice feature to have parity with the Ruby library. The way I'd do it is to add a `developmentEnvironments` config option which defaults to `['development', 'test']`, and then halt notifications if the current `environment` setting is in that list. The check should happen in the same place that we check the `disabled` option (which may change in #72).

[2017-06-20 17:22] joshuap commented on #70
Hey @HolixSF, I was on vacation the past couple weeks, so sorry for not getting back to you sooner. I'm glad you were able to discover a solution to this issue. I agree that there's still something potentially wrong here on our end. I'm going to dig into this and see if I can make some improvements. I'll let you know how it goes. Thanks!

[2017-06-20 18:19] joshuap opened #73 "Phantomjs error when running headless test suite"
`grunt jasmine` current produces the following error:

[code]

I haven't found much on the error itself, but I've read that phantomjs 1.9 is unsupported. My guess is that it just doesn't work on macOS Sierra anymore. We're still on Jasmine 1.3 which is preventing us from upgrading the `grunt-contrib-jasmine` package which is where this error originates, so I think the first step towards fixing thi

[2017-06-30 19:53] joshuap commented on #70
@HolixSF I merged your PR, thanks again. I've created #73 for the test suite errors and plan to look into those soon. I suspect the issue is outdated dependencies. I'll close this issue; let me know if you run into any other problems!

[2017-06-30 19:53] #70 closed

[2017-06-30 20:18] HolixSF commented on #70
@joshuap thanks for taking a look!

[2017-08-09 02:51] crazysaem commented on #59
Hi @joshuap
Will this issue be solved with the "New Error Grouping" feature, announced in this blog post [http://blog.honeybadger.io/source-map-upload/](http://blog.honeybadger.io/source-map-upload/)?

[2017-08-09 04:29] joshuap commented on #59
Yes, it should! Could you try upgrading to v0.5.0 and see if the grouping is better using the source map?

[2017-08-15 21:36] bddean opened #75 "non-idempotent wrap() can interfere with sites"
In the client script, `wrap(wrap(fn))` should be the same as `wrap(fn)`. Currently using an object as a listener to multiple events causes Honeybadger to wrap the object's handleEvent() that many times.

In [this MutationObserver shim](https://github.com/Polymer/MutationObservers/blob/master/MutationObserver.js), a Registration  object can add itself as an event listener every time a node is remov

[2017-08-16 21:37] joshuap commented on #75
Thanks @bddean! It sounds like you're on to something here. I'm planning to look into it in depth tomorrow.

[2017-08-16 21:57] #59 closed

[2017-08-17 22:48] joshuap commented on #75
@bddean I added your suggested fix in 9f8d309e5406d860fb2ebe8b402877da48dc80f4. I verified that my test failed before adding your fix. Does that look right to you? If so, I'll merge and release in v5.0.1.

[2017-08-20 22:26] bddean commented on #75
@joshuap Lgtm! Thanks!

[2017-08-22 18:21] #75 closed

[2017-09-29 16:55] joshuap opened #79 "Add option to limit errors sent per page load"
Some apps (especially single page apps) send us a lot of duplicate errors from a single client session, perhaps even in an infinite loop. This is bad for us (collecting and storing redundant data), and it's bad for our customers because it needlessly eats through their plan's volume limit.

To address this, I'd like to add a hard limit of x errors per page load. In other words, if `x = 20`, when h

[2017-10-20 21:11] erichulburd opened #81 "honeybadger.configure callback"
I noticed some behavior where initial render of my application did not log any errors to honeybadger. However, if the error occurs after some UI event (such as a click or change), the error is logged successfully (I am using the default window `onerror` event behavior).

Is there a callback or should I set a timeout to make sure that Honeybadger is configured before rendering my app?

[2017-10-23 23:32] joshuap commented on #81
@erichulburd we do support sending errors that occur before the page is fully loaded, however you must configure your API key directly after including honeybadger.js (so require honeybager, and then configure immediately). Or you could configure the API key using the data attribute:

[code]

If you're doing that and still don't have errors reported, can you send me a gist/jsfiddle/etc. which repro

[2017-10-23 23:32] #81 closed

[2017-10-23 23:32] #79 closed

[2017-10-23 23:33] #73 closed

[2017-11-02 13:18] a-x- opened #82 "What about lite version?"
Can you provide API for `https://honeybadger.io/.../notify.gif?error=&file=...&client_id=&secret_key=` requests?

I don't want to include more than 7KiB minified library in some projects.

[2017-11-03 14:56] joshuap commented on #82
@a-x- I'm not sure what you're asking, exactly; you could use that URL to make your own lighter version of honeybadge.js. Or did you have something else in mind?

[2017-11-03 16:28] a-x- commented on #82
Yep, ok

I'm gonna to write something like this:

[code]

Can I omit some fields?:
- `notice[notifier][url]`
- `notice[notifier][name]`

[2017-11-03 16:57] joshuap commented on #82
Yeah, you should be able to omit those. The required ones are `notice[error]` and `notice[server]`.

[2017-11-03 17:02] a-x- commented on #82
Thank you!
And finnaly can you help me with tags?

I tried so:
[code]

[2017-11-03 17:05] joshuap commented on #82
Try this (I think it should work):

[code]

[2017-11-03 17:10] a-x- commented on #82
Yay, cool!

[2017-11-03 17:10] #82 closed

[2017-11-06 18:57] mtuduri opened #83 "Module '"honeybadger-js" resolves to a non-module entity and cannot be imported using this construct."
Im trying to import  this library in an angular 4 app, using the type definition file, thus:

import * as Honeybadger from 'honeybadger-js';

and gives me the following error:
 **Module '"honeybadger-js" resolves to a non-module entity and cannot be imported using this construct.**

I belive that the namespace is missing in the definition.

[2017-11-06 20:55] #83 closed

[2017-12-05 16:35] TeknoFiend opened #85 "Report cross-domain script errors"
Currently cross-domain errors are not reported because there is not explicit information about the error unless CORS is configured:

https://github.com/honeybadger-io/honeybadger-js/blob/master/honeybadger.js#L555

It would be helpful for these error so still be reported back since we still get the metadata (browser, URL, etc) and can also then see how many of these types of errors are happening i

[2017-12-14 20:25] stympy opened #86 "Add afterNotify, like beforeNotify"
As [requested by Ryan](https://twitter.com/rkneufeld/status/941395519145852928)

[2017-12-14 20:27] stympy commented on #40
Here's [another request](https://twitter.com/xiongtx/status/941396430639341568) for a post-notify callback.

[2018-01-03 00:44] monde commented on #64
@joshuap this should be the like npm bump script in honeybadger-js ?
 https://github.com/honeybadger-io/honeybadger-js/blob/master/package.json#L21

this is how I wired the prepublish hook in honeybadger-webpack
https://github.com/honeybadger-io/honeybadger-webpack/blob/master/package.json#L13

[2018-01-04 22:36] kellym opened #88 "Honeybadger + UglifyJS (with webpack) issues"
Not entirely sure what's happening, but when I combine Honeybadger with UglifyJS when building with webpack, I get this error:
[code]
It's in reference to `this.console` in `function log()`. I believe it's related to how the Honeybadger script replaces window.setTimeout and uses `func.apply(null, ...` -- `null` being the key issue there.

[2018-01-05 00:03] monde commented on #88
@kellym can you give some more debugging clues? I wasn't able to repo your issue. I went and hacked the example app in `uglifyjs-webpack-plugin` https://github.com/webpack-contrib/uglifyjs-webpack-plugin/tree/master/examples to see if I could repo the issue you've found.

I changed the `package.json` to have the honeybadger-js dependency

[code]

and I included a minimum honeybadger reference in t

[2018-01-05 03:40] kellym commented on #88
Thanks for the quick response. The issue doesn't happen on configuration -- it's only when `Honeybadger.notify` is called. I'll see if I can reproduce from the bare minimum example app, too.

[2018-01-05 03:46] monde commented on #88
good to know, I'll look into it further tomorrow and try a call on `Honeybadger.notify` ... unless you can get us a PR before then 🎉

[2018-01-05 04:21] kellym commented on #88
Thanks for the help -- did some further digging and isolated the issue.

[2018-01-08 21:40] joshuap commented on #64
We could do something similar with the prepublish hook, if it makes sense given that we also need to push the release files in /build/v* to S3.

This is the manual process I do when cutting a new release:

1. Update the versions and CHANGELOG. I use `npm run bump` if it's a patch release, otherwise I manually update the versions (similar to what [bin/bump](https://github.com/honeybadger-io/honeyba

[2018-01-08 23:16] joshuap commented on #64
Oh btw, currently uglify JS v2 must be used for `make` to work: `npm install -g uglify-js@2`

[2018-01-08 23:17] joshuap opened #90 "Upgrade uglify-js to v3"
Currently running `make` requires uglify-js v2: `npm install -g uglify-js@2`. We should upgrade the command flags we're using to support the latest version.

[2018-01-09 00:30] monde commented on #90
I'll see if this can go together with #88

[2018-01-09 00:48] monde commented on #88
@joshuap I put this work in a branch I created to be sure Travis CI could run tests against it with correct team permissions. The change will not pass the tests in the "Windows 7,internet explorer,8.0" environment, see: https://travis-ci.org/honeybadger-io/honeybadger-js/builds/326623663

[code]

How should I proceed with @kellym's work?

[2018-01-09 00:50] monde commented on #88
isolated in branch kellym-main-fn-bound-to-this

[2018-01-09 00:53] monde commented on #88
@joshuap let me google that for you 😄 :

[How to handle lack of JavaScript Object.bind() method in IE 8
Ask](https://stackoverflow.com/questions/11054511/how-to-handle-lack-of-javascript-object-bind-method-in-ie-8)

[2018-01-09 02:13] joshuap commented on #88
I’m thinking that since it sounds like this is an issue in uglify, we just close this PR and perhaps they can fix it upstream? I’d rather not add workarounds for issues which aren’t ours. Would that make sense?

[2018-01-09 02:40] kellym commented on #88
I'm going to agree with that, too. It's not a bug in the Honeybadger code, and if it's not as straightforward as adding a `.bind(this)` it's not worth trying to solve here (we're using a fork for the meantime).

[2018-01-09 23:57] monde commented on #88
closing in light of consensus

[2018-01-12 18:40] joshuap opened #879 "Add an option to remove local source map after upload"
Package Name: @honeybadger-io/webpack

[2018-01-31 18:10] emwads opened #91 "Tags not applied from context"
According to the docs, a key of `tags` in the error context should update the tags applied to the error. https://docs.honeybadger.io/lib/javascript/guides/customizing-error-reports.html#custom-metadata-context

I've succesfully sent errors with the `tags` key in the context, but it doesn't populate the tags in the error notice page.

[2018-01-31 19:00] stympy commented on #91
I have confirmed this bug, and I'm working on a fix.

[2018-02-01 22:52] stympy commented on #91
I have deployed a fix for this bug in our API, so you don't need to make any changes to your app.  Errors reported with tags in the context should now work as expected.

[2018-02-01 22:52] #91 closed

[2018-02-02 17:42] emwads commented on #91
Thanks!

[2018-02-20 02:50] geoffreak commented on #88
I'm now running into this issue with Webpack + Uglify (uglify-es 3.x used by uglify-js-plugin). I'm seeing the same `this.console` problem reported above.

Is there a workaround or resolution for this, or can we just not use Honeybadger on our project?

[2018-02-20 03:08] kellym commented on #88
Unfortunately I’m using a fork of Honeybadger for now...

[2018-02-20 16:32] rathboma commented on #88
Hey guys,

So seems like the problem is that this library favors IE8 compatibility over uglify compatibility.

Assuming that `this` will be bound to `window` seems to be a false assumption when using webpack and uglify, so not sure why that can be considered an uglify error as mentioned.

As the solution is adding a single `bind`, there is [a polyfill](https://stackoverflow.com/questions/11054511/

[2018-02-20 16:46] stympy commented on #88
Yup, we'll definitely consider options to make this better for everybody.  Thanks for looking into it!

[2018-02-20 16:47] geoffreak commented on #88
Just submitted a PR for it in #92

[2018-02-20 17:34] #88 closed

[2018-02-20 17:57] stympy commented on #88
This has been released as 0.5.4 and deployed to our CDN.  Thanks everybody!

[2018-02-20 18:24] stympy commented on #88
That's a work in progress... @joshuap has the credentials for that and he's on paternity leave at the moment.  As soon as he checks in or we find the post-it note with the password we'll make that happen. :)

[2018-02-21 17:01] stympy commented on #88
v0.5.4 is now on npm.  Enjoy! :)

[2018-02-27 01:59] geoffreak opened #93 "Errors won't log correctly with Webpack (window.onerror uses ErrorEvent)"
@rathboma and I have been trying to figure out this issue to no avail. There's some quirk with this script when using Webpack that changes how the errors get handled.

:+1: The error I expect to see in Chrome without Honeybadger
![](https://snap.sal.tt/ytnr2ime37yur95t3e2hlry2ka1ozx3oaqd.png)

:-1: How things appear in Chrome with Webpack
![](https://snap.sal.tt/ngz3uh85h4a7ws3vhcfwh8vw8y5wbfoz78q

[2018-02-27 02:03] geoffreak commented on #93
Also of note for Webpack issues, `console.log`s don't work at all now with Webpack. I had to use [this fix](https://github.com/geoffreak/honeybadger-js/commit/a9a5a815dfb5a7b17c14eaa6c0feaf1763c0b6dc) to get around the issue, but I'm not sure this is a good workaround. My fix from before stopped errors from being thrown, but disabled logging.

[2018-02-27 16:09] monde commented on #93
@geoffreak re: CORs error - I ran into what I think a similar issue working on our rails webpacker example when running on localhost, see my notes about the webpacker `devtool` setting: https://github.com/honeybadger-io/honeybadger-rails-webpacker-example#notes

[2018-02-27 16:14] monde commented on #93
@geoffreak didn't your PR #92  related to issue #88 fix the console issue?

[2018-02-27 17:26] geoffreak commented on #93
My PR fixed the console issue from throwing errors, but it still doesn't allow logging as it turns out. Not sure how I missed that.

Actually I figured out that the eval-source-map was causing CORS issues and switched to using an eval-less source map, so I fixed that one. I'm not using any eval anything in these examples. The issue isn't a CORS issue in this case. The problem is `window.onerror` i

[2018-02-27 17:47] geoffreak commented on #93
This is what I'm currently using as a workaround for this issue:

[code]

[2018-03-12 23:15] joshuap commented on #93
@geoffreak interesting. I haven't heard of `window.onerror` being called with just an `ErrorEvent` object. Is that a Webpack thing? According to the API docs, the API for the `window.onerror` handler is clear:

https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror

I don't think it would be right to modify our handler to work with undocumented edge cases (if that's what this

[2018-03-13 16:08] geoffreak commented on #93
I'm not really certain. We're running babel, webpack, and uglify-es, so I suppose that any one of them could be causing the issue when combined with honeybadgerjs.

It really does seem that one of the other types of error handlers is being used, but the logic for window.onerror is being called somehow.

I can't help but wonder if there are many more quirks with this library being used with webpack

[2018-03-13 18:21] joshuap commented on #93
@geoffreak we have lots of customers using honeybager.js with webpack, and haven't had any other reports of problems. Let us know if you find the source of the incorrect `window.onerror` API call (closing this, as it doesn't appear to be an issue with our library).

[2018-03-13 18:21] #93 closed

[2018-03-20 02:06] butchler commented on #51
Hey there, just checking in. Any progress on this?

Right now we're using our own custom Honeybadger client that sends data to the API via POST, but I'd really like to just delete that code and go back to using the official client. However, I feel a little uncomfortable using this knowing that errors might silently fail to send if there's too much data in the context. The ability to detect if an e

[2018-04-04 19:29] nenadjaja commented on #71
It would be great to have this working, so we won't get too much noise in our logs. Thanks!

[2018-04-06 23:08] joshuap opened #94 "Debug logging broken when loading via Webpack"
I just noticed that when `debug: true` is enabled in the config in a Webpack project, it doens't log. It's because `root` is undefined in the `log()` function. I think this PR is probably to blame:

https://github.com/honeybadger-io/honeybadger-js/pull/92

We should make sure this is the only problem that was introduced by that PR when we fix it.

[2018-04-18 18:11] sljavi commented on #51
+1
this would be very useful for our team

[2018-04-23 16:03] joshuap commented on #51
@butchler yep, this is something I'd like to tackle soon. I think it may require a pretty big overhaul of the current lib and probably deprecation of some of the older browser we support (it's probably time to drop IE6, right? 😀 )

I'm sorry I don't have an ETA yet, but I'll bump this up my priority list. I'm looking for some contract help if you guys know anyone with senior JS+OSS experience.

[2018-06-19 18:18] #94 closed

[2018-07-12 21:42] frewsxcv opened #98 "Using `onerror` with Honeybadger factories doesn't work"
[code]

If an exception occurs, my understanding is that it will only be caught with the `honeybadger1` config, so the error will _not_ be reported to Honeybadger. Relevant code:

- https://github.com/honeybadger-io/honeybadger-js/blob/5daf556f4c8be605ebcc9c7d277070fc67f85924/honeybadger.js#L547
- https://github.com/honeybadger-io/honeybadger-js/blob/5daf556f4c8be605ebcc9c7d277070fc67f85924/honeyb

[2018-07-16 18:51] joshuap commented on #98
@frewsxcv I actually think we may not want to install the `onerror` handler at all when calling `Honeybadger.factory` directly. How are you importing `Honeybadger`? The way the module loader is built, it should create a singleton instance of factory which is what the `onerror` handler should always be attached to. i.e.:

[code]

[2018-08-17 15:35] frewsxcv commented on #98
If you end up doing this, I think it'd be good to call this out in the `Honeybadger.factory` documentation.

[2018-10-23 13:12] janosch-x commented on #56
@joshuap FYI this still seems to be happening in honeybadger-js v0.5.5

![bildschirmfoto 2018-10-23 um 15 10 30](https://user-images.githubusercontent.com/10758879/47362983-0335c100-d6d6-11e8-9935-95cb14d0edac.png)

[2018-10-23 20:50] joshuap commented on #56
@janosch-x hmmm, I think you're right; I'll reopen this issue until we get this fixed. Thanks!

[2018-12-03 22:05] aeschylus opened #99 "Honeybadger v.0.5.x doesn't seem to load due to incorrect module packaging"
This [documentation](https://docs.honeybadger.io/lib/javascript/integration/browser.html) indicates I should be able to load the honeybadger-js reporting scripts over CDN, and feed it the appropriate api keys and so on through the tag's data attributes. However, when adding this as described (though with the erroneous url indicated in the documentation corrected), the script comes in, but is malfo

[2018-12-05 18:56] joshuap commented on #99
@aeschylus which link in the documentation is erroneous? We used the [UMD project](https://github.com/umdjs/umd) to define our module loader. Maybe there is some info about this there? I am not familiar with almond.

[2019-02-19 17:26] #90 closed

[2019-03-13 23:02] #72 closed

[2019-03-14 00:33] joshuap commented on #51
This is currently on master and will be released in 1.0.0

[2019-03-14 00:33] #51 closed

[2019-03-14 17:36] #56 closed

[2019-03-14 22:21] #98 closed

[2019-03-14 22:41] joshuap commented on #98
I called out this behavior in the docs here: https://docs.honeybadger.io/lib/javascript/guides/working-with-multiple-clients.html

[2019-03-14 23:22] joshuap commented on #99
I added an example of using honeybadger.js w/ almond here:

https://github.com/honeybadger-io/honeybadger-js/tree/master/examples/almond

Closing this out, since I'm not seeing any issues with building the module.

[2019-03-14 23:22] #99 closed

[2019-03-15 23:56] #65 closed

[2019-03-20 22:11] #64 closed

[2019-03-20 22:11] joshuap commented on #64
Closed in https://github.com/honeybadger-io/honeybadger-js/commit/14c0020926b551b6ada36f6b6bbec44211e6438e

[2019-04-16 01:02] joshuap opened #898 "Include component and action for components and methods"

[2019-04-17 14:59] vladanpaunovic opened #121 "Versions 1.0.0+ are missing TypeScript support"
## What are the steps to reproduce this issue?
1. Run any typescript project
2. Install honeybadger-js v1.0.0+

## What happens?
1. The file `honeybadger-js.d.ts` is missing, therefore, there are no types for `Honeybadger` instance.

## What were you expecting to happen?
Have types as they were until the version bump.

## Any logs, error output, etc?
[code]

[2019-04-17 20:26] joshuap commented on #121
Thanks, looking into this now.

[2019-04-17 21:04] #121 closed

[2019-04-17 21:07] joshuap commented on #121
@vladanpaunovic I released v1.0.2 with the fix in #122. Hopefully that does it. If not, re-open this issue and we'll try again. :)

[2019-04-18 09:06] vladanpaunovic commented on #121
@joshuap just bumped the version to 1.0.2 and I can confirm that everything works properly.
Thank you very much for fast response and fixing this! 🚀

[2019-05-14 21:07] ryanoglesby-tc opened #133 "Handle and report errors thrown inside of Promises"
It seems that errors that are triggered from inside of Promises are not caught by global `window.onerror` handlers, which means Honeybadger does not get notified of these.

I'd like to request that Honeybadger also listen for `unhandledrejection` so that these errors are also reported to Honeybadger. Does that fit into the scope of this library? I'd be willing to put together a PR too.

## What ar

[2019-05-16 16:20] joshuap commented on #133
Thanks for documenting this, @ryanoglesby-tc! I'm open to adding this, assuming we can add a config flag to disable it, and it can call any existing event bindings after calling ours (like our `window.onerror` handler does). I think some people will want to opt-out so that they can handle promise rejections however their framework recommends.

If we make this the new default, we may need to bump t

[2019-05-17 14:29] ryanoglesby-tc commented on #133
Ok, I'll see what I can do!

[2019-05-27 07:20] akshaysmurthy opened #145 "Webpack + honeybadger-js + Firefox extension interfering with mint.intuit.com"
## What are the steps to reproduce this issue?
1. Install honeybadger-js using package.json
2. Load it in the content script  - `import Honeybadger from 'honeybadger-js';`
3. Log in to https://mint.intuit.com (You can create a free account if you don't have one)

## What happens?
The page does not load, instead has some errors:
1. `Error: Permission denied to access property "apply"`
2. `TypeError

[2019-05-29 18:21] joshuap commented on #145
I'm going to close the issue report here since we're handling this through our support system. Long story short, your mileage may vary w/ honeybadger.js inside a webextension in Firefox. There seems to be problems with wrapping the global `window.onerror` handler inside the extension. If we find out what it is, I'll update this issue.

[2019-05-29 18:21] #145 closed

[2019-07-24 19:53] joshuap commented on #133
Released in v2.0.0

[2019-07-24 19:53] #133 closed

[2019-09-15 17:29] akrawchyk opened #208 "How to use as a webpack external?"
## What are the steps to reproduce this issue?
1. Install Honeybadger with a script tag: `<script src="https://js.honeybadger.io/v2.0/honeybadger.min.js"></script>`
2. Configure it: `<script>Honeybadger.configure({ apiKey: 'XXX' })</script>`
3. Setup webpack external: `webpack.config.js`: `externals: { 'honeybadger-js': 'Honeybadger' }`
4. Import in webpack app: `import Honeybadger from 'honeybadg

[2019-09-16 16:14] joshuap commented on #208
@akrawchyk I've never encountered this type of set up before, so I'm not quite sure. Does `import Honeybadger from 'honeybadger-js` import the global `window.Honeybadger` object? Have you tried configuring it again inside webpack?

[2019-09-16 18:55] akrawchyk commented on #208
This is my understanding, when I dug through the bundle there was a simple `module.exports = Honeybadger` which should just be exporting the singleton.

Yes, I've tried doing all the config using the webpack imported `Honeybadger`, and it works (!?) which is also confusing. I would much prefer do it this way but the effort it would take to do this outweighs the benefits for me right now.

Also, if

[2019-09-16 22:31] akrawchyk commented on #208
@joshuap Thanks for looking at this! I made an example repo to reproduce this at https://github.com/akrawchyk/honeybadger-webpack-externals-example/commit/8ede67483d8328e1a22abce67ed9e22d6b7d6a1e

Funny enough, it does work when the app is hot-reloaded after making changes. But when loading the app initially, I still see the error message about no API key configured.

Also, it appears like `honeyb

[2019-09-16 22:40] joshuap commented on #208
@akrawchyk thanks for the repo, this will be a huge help. I'll take a look and let you know what I find. Planning to look into this tomorrow.

[2019-09-16 22:44] akrawchyk commented on #208
Now that I'm looking at the changes in isolation, I have a feeling this has to do with script eval order. I'm thinking the `DOMContentLoaded` is causing a race condition where Honeybadger is configured AFTER the app loads...

[2019-09-17 00:38] #208 closed

[2019-09-17 21:48] joshuap commented on #208
@akrawchyk that sounds promising. Were you able to confirm anything there? Let me know if you still think there is an issue on our end for me to look into (just checking in case you didn't mean to close this).

[2019-09-18 13:10] akrawchyk commented on #208
@joshuap thanks for checking, I meant close it because `DOMContentLoaded` was the culprit. Webpack externals work fine 😄

[2019-10-30 15:21] ufchrisg opened #230 "Chrome SameSite cookie attribute warning"
## What are the steps to reproduce this issue?
1. Go to a site using honeybadger-js with the console open

## What happens?
The following warning appears in console:
[code]

## What were you expecting to happen?
No warning

## Any logs, error output, etc?
Warning provided above.

## Any other comments?
We get two of these, one for `https://app.honeybadger.io/` and one for `http://app.honeybadger.i

[2019-11-13 23:18] joshuap opened #238 "[Breadcrumbs] Paths should not be relative for x-domain URLs"
<img width="1102" alt="image" src="https://user-images.githubusercontent.com/474649/68812742-aa123580-0628-11ea-895d-ba12a9b9b49d.png">

[2019-11-14 19:23] aub opened #242 "Exponential slowdown when running Jest tests with honeybadger included"
## What are the steps to reproduce this issue?
1. I have a React project that uses Honeybadger for error notification. It has a test suite with a bunch of very simple tests using enzyme's `mount` function to render the components and make sure they work ok.
2. When I run this test suite after adding Honeybadger to my code, the suite slows to a crawl and then locks up completely so that I have to k

[2019-11-14 21:27] joshuap commented on #242
Hey @aub, thanks for the report. How are you including honeybadger-js in your code? Our library guards against the instrumentation being installed more than once by the global instance, but doesn't expect to be included multiple times on a page, for instance. I'm not sure what would happen in that case.

[2019-11-14 21:45] aub commented on #242
I've got `honeybadger-js` and `@honeybadger-io/react` as dependencies in my package.json file, and then in the component modules where I need access to honeybadger I import it with:

`import Honeybadger from 'honeybadger-js'`

Maybe that's the wrong approach? I can do a quick test to verify, but I _think_ this problem is specific to the tests. We're using Jest with Enzyme and jsdom, and it seems l

[2019-11-14 21:48] joshuap commented on #242
I think you should be able to import multiple times and it will return the same singleton object. It would be good to verify that in your project. It does sound like something strange is going on with the test setup, though.

[2019-11-14 22:01] aub commented on #242
Yep, verified that it only initializes once in the regular app. I'm not quite sure where to go from here with the tests, but I'll see if I can figure out how/when jsdom reinitializes the virtual browser.

[2019-11-14 23:21] joshuap commented on #242
Thanks! Also, if all else fails, could you try reproducing in a sample repo/gist that we can check out?

[2019-11-15 14:14] aub commented on #242
Ok, [here's a repo where it's reproduced](https://github.com/aub/honeybadger-jsdom). It's just a `create-react-app` app that's been ejected with the testing setup to use enzyme and jsdom and then 250 copies of the same simple test that mount the `App` component. That component imports Honeybadger and does some stuff with it, although only the configuration part of that should actually be being exe

[2019-11-19 14:38] aub commented on #242
@joshuap I don't suppose you have any ideas on this one? I'm getting nowhere so far but will spend some more time on it this morning.

[2019-11-19 15:04] aub commented on #242
One thing I've figured out is that the only events that pile up are the EventTarget ones. If I remove `EventTarget` from [this line](https://github.com/honeybadger-io/honeybadger-js/blob/master/src/builder.js#L784) then it works fine. :sob:

[2019-11-19 20:38] joshuap commented on #242
@aub I don’t have any ideas without diving into the code. I’m traveling this week but I will plan to check out the example repo and take a look at what it’s doing next week. Thanks for the extra info!

[2019-11-26 22:37] joshuap commented on #242
@aub I did some research, and it seems that it's a known issue that jsdom doesn't completely clean up state between individual tests. That seems weird to me, but there's nothing I can do about it. :shrug:

I came up with the following workaround which fixes the issue in your example repo: https://github.com/honeybadger-io/honeybadger-js/pull/255/files

[2019-11-26 23:08] #242 closed

[2019-11-27 15:47] aub commented on #242
Thank you so much @joshuap! This does solve the problem.

[2019-12-12 15:23] ryanoglesby-tc opened #266 "Notify throws exceptions with null/undefined error and a custom class name"
## What are the steps to reproduce this issue?
1. Call `Honeybadger.notify(undefined, 'DescriptiveClass');` or `Honeybadger.notify(null, 'DescriptiveClass');`

## What happens?

It throws an uncaught TypeError

[code]

## What were you expecting to happen?

I would expect the same thing to happen as if `Honeybadger.notify(undefined)` were called, which is that the error is not reported...

## Any

[2019-12-12 19:31] joshuap commented on #266
@ryanoglesby-tc a PR would be great, thanks!

[2019-12-19 01:16] #266 closed

[2020-01-03 18:50] acklavidian opened #279 "Type definition incorrect."
The type definition file dictates that most of the functions provided by the main export return a void value:
https://github.com/honeybadger-io/honeybadger-js/blob/fae5d6178eb08b443dc3a41b1f72f04f050ca58d/honeybadger-js.d.ts#L35
However, it seems this is incorrect upon reviewing the actual source. For instance `configure`:

https://github.com/honeybadger-io/honeybadger-js/blob/fae5d6178eb08b443dc3

[2020-01-03 19:33] schontz commented on #279
It should be this:

[code]

And the following should be fixed in the react project:

https://github.com/honeybadger-io/honeybadger-react/blob/master/honeybadger-react.d.ts#L5

It should be something like:
[code]

[2020-01-06 16:17] acklavidian commented on #279
Should it not be:
[code]

[2020-01-06 17:12] schontz commented on #279
@acklavidian Not necessary.

[2020-01-06 23:47] joshuap commented on #279
@acklavidian @schontz I'm not super familiar with TypeScript and need to defer to your knowledge on this. I agree that the type definition looks incorrect for that function (and any others like it). PRs to both projects welcome. :)

[2020-01-06 23:59] joshuap opened #282 "Move CI to GitHub actions"

[2020-01-07 00:33] schontz commented on #279
@joshuap My changes in the previous comment should be all you need to do.

[2020-01-07 19:02] ryanoglesby-tc commented on #266
Hi @joshuap, will you be releasing a patch release, v2.0.1 with this fix? We'd like to pull in the bug fix without upgrading to 2.0-beta.

[2020-01-07 20:05] joshuap commented on #266
@ryanoglesby-tc [v2.0.1](https://github.com/honeybadger-io/honeybadger-js/releases/tag/v2.0.1) has been released from the [v2.0-stable](https://github.com/honeybadger-io/honeybadger-js/tree/v2.0-stable) branch.

[2020-01-08 00:48] schontz commented on #279
I tested the changes to `module "@honeybadger-io/react"`, and it works as expected. The changes need to be made in both repos for it to work properly, so the dependency on this repo in the react one would need to be updated.

[2020-01-08 20:00] joshuap commented on #279
@acklavidian @schontz OK, here you go. Do these look correct?

https://github.com/honeybadger-io/honeybadger-js/pull/286
https://github.com/honeybadger-io/honeybadger-react/pull/92

[2020-01-08 23:26] #279 closed

[2020-01-27 19:51] #238 closed

[2020-01-27 19:58] joshuap commented on #230
I haven't been able to reproduce this one. It may have been an issue app.honeybadger.io which has since been fixed. We don't set any cookies in honeybadger.js, so I'm not sure how this library could be causing it. If you're still getting this warning, could you let me know at support@honeybadger.io? It would be helpful to know the name of the cookie which is causing the problem, which you can find

[2020-01-27 19:58] #230 closed

[2020-01-27 20:27] #282 closed

[2020-02-13 05:55] atshakil opened #309 "Type definition incorrect for resetContext"
## What are the steps to reproduce this issue?

The [documentation](https://docs.honeybadger.io/lib/javascript/guides/customizing-error-reports.html) provides the two following examples for `resetContext`

[code]

But, type definition `honeybadger-js.d.ts` only covers the first example.

[code]

## What happens?

This results in a Typescript error for the second example

## What were you expecting

[2020-02-17 18:26] #309 closed

[2020-03-13 23:54] #86 closed

[2020-03-14 01:10] joshuap opened #327 "Return a promise from Honeybadger.notify"
We now support this:

[code]

Could we return a promise, so it could look like this?

[code]

[2020-04-09 11:23] larschon opened #340 "e[r].test is not a function error w/ ignorePatterns"
I'm having an issue with using ignorePatterns where `Uncaught TypeError: e[r].test is not a function` is thrown.

It appears to be a problem when using ` for...in`:
https://github.com/honeybadger-io/honeybadger-js/blob/8ed9811754a9c77fd87e95399c4133ab4b3c7b73/src/builder.js#L57

I can see `p: "_super"` when debugging, which is causing the error.
https://github.com/honeybadger-io/honeybadger-js/blo

[2020-04-13 03:27] joshuap commented on #340
@larschon thanks for reporting this! I have it on my todo list to take a look this week.

[2020-04-16 20:01] #340 closed

[2020-05-12 13:54] edzhelyov opened #358 "Hide the api key in the browser"
This is not an issue, but a question, but И couldn't find where to ask it, so I'm putting it here.

I'm integrating honeybadger in the browser and we rely on a meta tag in the head. But it's very obvious and it can be hijacked and abused. In a way, do you have some recommendations on how to supply the API key in a more secure way in the browser?

[2020-05-12 20:43] joshuap commented on #358
@edzhelyov unfortunately there's no way to hide the API key in the browser, since it needs to be sent with error reports. Project API keys are write-only--worst case scenario is that a bad actor could create additional error reports in your account (which we could then delete). I've never heard of that happening. You can also rotate your project API key at any time under Project Settings, which wi

[2020-05-12 20:43] #358 closed

[2020-05-13 07:29] edzhelyov commented on #358
Thanks for the quick response, appreciate it.

[2020-07-14 17:06] rabidpraxis opened #397 "Console logging references honeybadger source"
All instrumented logging operations are pointing to the Honeybadger source.

![Screen Shot 2020-07-14 at 10 02 56 AM](https://user-images.githubusercontent.com/85654/87454785-4f671a00-c5b9-11ea-80d3-b8dff2911166.png)

This can be confusing as some users rely on that source to know where their logging calls are referenced from.

[2020-07-15 06:59] matej-svejda commented on #397
I think preventing this when Honeybadger notfications are disabled (which I imagine is the default dev-environment) would already help a lot - at elast for me.

[2020-07-20 14:03] reabiliti commented on #397
It would be great to fix this :)

[2020-07-20 14:10] reabiliti commented on #397
@rabidpraxis hi, do you know if the problem will be solved soon?

[2020-07-27 19:55] DryFlyRyan commented on #397
This appears to be done as a side effect by importing the library.

I can see why having this in production would be advantageous, but it really seems like it should be done in response to a config, or at the very least be done within the `Honeybadger.confugure` call.

[2020-07-27 21:27] joshuap commented on #397
@DryFlyRyan I like the idea of making it install the instrumentation on the first call to `Honeybadger.configure`. That would also allow us to add config options to optionally disable it. I'll take a look at it this week. 👍

[2020-07-28 20:44] #397 closed

[2020-07-28 21:08] joshuap commented on #397
I've released a fix for this on our beta tag on npm:

https://www.npmjs.com/package/honeybadger-js/v/2.3.0-beta.0

You can also find the CDN versions here:

http://js.honeybadger.io/v2.3-beta/honeybadger.js
http://js.honeybadger.io/v2.3-beta/honeybadger.min.js

With this version, the breadcrumbs instrumentation should not be installed in development unless you call `Honeybadger.configure` (which y

[2020-09-09 04:43] ybentz commented on #145
Hey @joshuap, did you end up figuring out exactly what's going on here? I just encountered the exact same issue with my extension. Thanks!

[2020-11-07 00:56] joshuap opened #472 "Shipjs testing"
Ignore this—testing release automation.

[2020-11-07 00:56] joshuap commented on #472
@shipjs prepare

[2020-11-07 01:05] joshuap commented on #472
@shipjs prepare

[2020-11-07 01:11] joshuap commented on #472
@shipjs prepare

[2020-11-07 01:15] joshuap commented on #472
@shipjs prepare

[2020-11-07 01:53] joshuap commented on #472
@shipjs prepare

[2020-11-07 02:03] joshuap commented on #472
@shipjs prepare

[2020-11-07 02:09] #472 closed

[2020-11-10 19:26] #71 closed

[2020-11-13 18:21] joshuap commented on #40
We now have `afterNotify` handlers to cover this use case: https://docs.honeybadger.io/lib/javascript/reference/configuration.html#afternotify-handlers

[2020-11-28 20:24] MartinMalinda opened #490 "Resize handler performance"
<img width="881" alt="Screenshot 2020-11-28 at 21 23 09" src="https://user-images.githubusercontent.com/9468793/100525312-fee70680-31bf-11eb-8975-9ce8b3f54dcb.png">

I'm wondering what heavy logic is there for error reporting tool to do on window resize. Is this to be expected?

[2020-11-28 20:28] MartinMalinda commented on #490
Upon closer inspection it seems like it's not the honeybadger itself that is the culprit, honeybadger is merely reporting this violation. Is that correct?

Thanks!

[2020-11-30 18:01] joshuap commented on #490
@MartinMalinda that's correct—that looks like a console log message; we instrument `console.log` (so that we can record breadcrumbs), which is why it shows honeybadger.min.js as the location. Unfortunately, there's no way to see the original location of the log message when this feature is turned on, but you can disable `console` instrumentation with this config:

[code]

https://docs.honeybadger.

[2020-11-30 18:01] #490 closed

[2021-01-05 18:07] joshuap opened #503 "Filter cookie values"
With the addition of #502, we can also apply filters to the cookies object (see browser client), as we do in Ruby. This is how it works:

1. If `notice.cookies` is a string, convert to object (see same logic in Ruby gem for regexp). Otherwise, `notice.cookies` is an object already.
2. Apply `config.filters` to object
3. Convert cookies object back into string (see Ruby gem)

[2021-01-05 19:01] joshuap opened #504 "Deprecate ignorePatterns"
The [`ignorePatterns`](https://docs.honeybadger.io/lib/javascript/reference/configuration.html#configuration-options) config option was added to honeybadger-js before [`beforeNotify`](https://docs.honeybadger.io/lib/javascript/reference/configuration.html#beforenotify-handlers), which can accomplish the same thing:

[code]

vs:

[code]

Here are the reasons I'm thinking it makes sense to deprecate

[2021-01-05 19:04] stympy commented on #504
👍

[2021-01-05 22:48] #504 closed

[2021-01-13 18:54] #503 closed

[2021-01-13 19:07] joshuap opened #509 "Filter URL params"
Similar to #503, we can deconstruct URL params in `payload.request.url`, apply filters, and then reconstruct the URL like we do in the Ruby gem.

[2021-01-14 18:36] #509 closed

[2021-01-28 13:28] Junkern opened #523 "[Honeybadger] Error report failed: unknown response from server. code=422"
## What are the steps to reproduce this issue?
1. Copy the code from https://gist.github.com/Junkern/949e2e6b244650affcd074be76cde8b4 and fill in your api key
2. Execute

## What happens?
The server responds with a 422 HTTP status code with no information on how to send a correct request.

## What were you expecting to happen?
Successful reporting of the error or a description how to avoid the 422

[2021-01-28 23:20] joshuap commented on #523
@Junkern we're looking into this. 👍

[2021-01-29 01:50] #523 closed

[2021-01-29 01:56] joshuap commented on #523
@Junkern try 3.0.2!

[2021-01-31 13:20] Junkern commented on #523
@joshuap works! Thank you for the quick fix :)

[2021-02-08 22:59] joshuap opened #530 "[Ship.js] Don't create a release PR if there are no unreleased changes"
Links:

- [Our Ship.js config file](https://github.com/honeybadger-io/honeybadger-js/blob/master/ship.config.js)
- [Our Changelog file](https://github.com/honeybadger-io/honeybadger-js/blob/master/CHANGELOG.md)
- [Ship.js on GitHub](https://github.com/algolia/shipjs)
- [Ship.js docs](https://community.algolia.com/shipjs/guide/)

We have the [ship.js trigger](https://github.com/honeybadger-io/honey

[2021-02-10 12:30] pankajjha-cd opened #532 "ERR_INVALID_ARG_TYPE('listener', 'Function', listener); in Express JS"
## What are the steps to reproduce this issue?
1. Use [Express-Generator](https://expressjs.com/en/starter/generator.html) for Express Basic Setup
2. Add Honeybadger [code](https://docs.honeybadger.io/lib/node.html#express-or-connect-framework) in [app.js](https://gist.github.com/pankajjha-cd/f7dffcdaa42f3921046e76236a1113f6) of the application
3. Throw a custom exception like `throw new Error('Ex

[2021-02-15 20:10] joshuap opened #534 "undefined message when unhandled promise is rejected without a reason"
Example:

[code]

This code results in the following error in Honeybadger:

Error Message: "UnhandledPromiseRejectionWarning: undefined"
Name: "window.onunhandledrejection"
Stack:

[code]

The `undefined` gets reported [here](https://github.com/honeybadger-io/honeybadger-js/blob/master/src/browser/integrations/onunhandledrejection.ts#L44) because the promise was rejected without a reason (`rejecti

[2021-02-22 23:40] incredimike commented on #532
The stack trace points at `agent-base/patch-core.js`. [agent-base 4.3.0](https://github.com/TooTallNate/node-agent-base/tree/560f111674af84dec46a4c3070ddf3b22edd3e76) (released Jun 5, 2019) is the last version of the library to contain `patch-core.js`.

@pankajjha-cd Are your node_modules up to date? Please try updating `agent-base`.

I cannot recreate the issue using [version 6.0.2](https://githu

[2021-02-23 10:08] pankajjha-cd commented on #532
Hi,
I removed my node_modules directory and moved `app.use(Honeybadger.errorHandler);` just before default error handler of express.js and it is working fine now.

only thing is that it is reporting 404 error as well to honeybadger and I couldn't find any doc to disable 404 error logging to honeybadger, may be you can help!

However, my original issue was resolved. Thanks to you.

[2021-02-25 05:06] Ali-Dalal opened #538 "right way to import types"
I am writing a wrapper for HB alert, I need to import types from HB so arguments and return type are typescript typed.

![image](https://user-images.githubusercontent.com/12471526/109105909-beb90500-7769-11eb-98c3-5bd1ee143007.png)

when I import the interfaces, it keeps saying
`TS2305: Module '"../../node_modules/@honeybadger-io/js/honeybadger"' has no exported member 'Notice'.`

so my question i

[2021-02-25 13:30] joshuap commented on #538
@Ali-Dalal our public types for the NPM package are [here](https://github.com/honeybadger-io/honeybadger-js/blob/master/honeybadger.d.ts#L62). I'm not sure how to do what you're asking, to be honest. I've never tried that before (I'm not a TypeScript expert, unfortunately).

[2021-02-26 21:32] getabetterpic opened #539 "No TypeScript types for requestHandler or errorHandler"
## What are the steps to reproduce this issue?
1. Set up a new Node project using TypeScript (I'm using Nest)
2. Add `@honeybadger-io/js` to the project
3. Attempt to add `app.use(Honeybadger.requestHandler)`

## What happens?
TypeScript complains since there isn't a `requestHandler` or `errorHandler` type on the Honeybager export.

## What were you expecting to happen?
I should be able to use `Ho

[2021-03-01 19:09] #539 closed

[2021-03-01 19:16] joshuap commented on #539
Fix released in 3.0.4

[2021-03-03 23:18] joshuap commented on #532
@pankajjha-cd I think you could ignore 404 errors using a `beforeNotify` handler:

https://docs.honeybadger.io/lib/javascript/guides/reducing-noise.html#ignoring-errors

Glad we could get this resolved! I'll close it now, but let me know if you need anything else.

[2021-03-03 23:18] #532 closed

[2021-03-04 19:57] #534 closed

[2021-03-04 21:24] incredimike commented on #530
Update: Looking into using the `shouldPrepare` callback to check if a release should be prepared.
https://community.algolia.com/shipjs/reference/all-config.html#shouldprepare

Having some trouble testing it with --dry-run, since the dry run flag causes shipjs to bail on the preparation step BEFORE the shouldPrepare function has been called. I've modified the library for my own testing, and I'm rea

[2021-03-11 21:56] ssickles opened #551 "Honeybadger causing Vue3 app to freeze"
## What are the steps to reproduce this issue?
1. Create a vue3 application from scratch. (I used typescript but I'm not sure that is relevant)
2. Add honeybadger to my project and import it into the main.ts file for my vue app.
`import Honeybadger from '@honeybadger-io/js'`
3. Configure the api key using:
`
Honeybadger.configure({
    apiKey: ac.honeybadgerApiKey
  })
`
4. Add a line of code to n

[2021-03-11 23:13] joshuap commented on #551
@ssickles to confirm, you are using *@honeybadger-io/js* package in a Vue 3 app, but you're not using our [*@honeybadger-io/vue* integration package](https://docs.honeybadger.io/lib/javascript/integration/vue.html), right?

We should be looking at Vue 3 support in the near future ([see this issue](https://github.com/honeybadger-io/honeybadger-vue/issues/779)), so maybe we can also take  a look at

[2021-03-12 00:18] ssickles commented on #551
@joshuap Yes, this issue is occurring with @honeybadger-io/js. I started off using the @honeybadger-io/vue package but I couldn't get it to work with typescript. So, I figured I would just simplify things and use the /js package.

[2021-03-12 02:05] joshuap commented on #551
@ssickles thanks for the extra info; we'll take a look!

[2021-03-23 17:44] jimmybot opened #554 "Add support for tags"
Other Honeybadger libraries support sending tags as part of the context.  In order to be as useful as possible, the JS library should do the same.

Examples:
Ruby: https://docs.honeybadger.io/lib/ruby/getting-started/tagging-errors.html
Elixir: https://github.com/honeybadger-io/honeybadger-elixir/blob/3c8656a59d05d5e39bcf53e5fe543a5e468f6707/lib/honeybadger/notice.ex

[2021-03-23 20:48] joshuap commented on #551
Assigning @incredimike since you're already looking into Vue 3 on https://github.com/honeybadger-io/honeybadger-vue/issues/779

[2021-03-23 20:52] joshuap commented on #554
I'd like to support both of these APIs:

[code]

Also, let's support both tags as a comma-delimited string (`"foo, bar"`), and an array (`["foo", "bar"]`).

[2021-03-24 01:20] joshuap commented on #554
Once this is done, we should also add a guide to the JavaScript docs similar to this Ruby guide:

https://docs.honeybadger.io/lib/ruby/getting-started/tagging-errors.html

and add `notice.tags` to the list of notice properties:

https://docs.honeybadger.io/lib/javascript/guides/customizing-error-reports.html#modifying-data

[2021-03-24 06:33] ParamagicDev commented on #327
@joshuap I hacked around and have a rough idea of how this would look. I have it on this branch here: https://github.com/honeybadger-io/honeybadger-js/tree/feat/return-a-promise-from-notify

There are a couple problems with trying to overload `notify` to handle both cases, first: this function returns booleans and users could potentially be using those booleans to determine various paths IE:

[cod

[2021-03-24 16:13] joshuap commented on #327
@ParamagicDev thanks for the research, this is helpful! I'll think about this one a bit more. In the meantime let's continue on other issues. 👍

[2021-03-30 15:58] joshuap commented on #554
@shipjs prepare

[2021-03-30 17:52] joshuap commented on #554
Released in 3.2.0

Docs: http://localhost:4000/lib/javascript/guides/tagging-errors.html

[2021-03-30 17:52] #554 closed

[2021-04-07 01:01] mFingers commented on #538
@Ali-Dalal could you use [the beforeNotify hook](https://docs.honeybadger.io/lib/javascript/reference/configuration.html#beforenotify-handlers) to get the behavior you are looking for?

[2021-04-14 23:19] tannerhuynh opened #568 "Stop Honeybadger from Bubbling up in Console in Local Environment"
## What are the steps to reproduce this issue?
1. Start react app in local environment
2. Cause a bug in the front end that would trigger HB

## What happens?
1. Multiple HB errors show up in console and all errors are wrapped in HB. Some stack trace are not clickable others are clickable. This is terrible for debugging because clicking on the links leads only to the HB call.
2. HB sends a report.

[2021-04-15 16:34] joshuap commented on #568
@tannerhuynh what version of honeybadger.js are you using? Make sure you are on the latest version of the @honeybadger-io/js package (currently 3.2.0), and that you are setting the `environment` config option as mentioned in [this guide](https://docs.honeybadger.io/lib/javascript/guides/environments-and-versions.html). It should be either "development" or "dev" for development environments. You ca

[2021-04-15 21:57] tannerhuynh commented on #568
Ah yes, we were using an outdated version that didn't seem to support what the new documentation had stated. The reporting issue is solved locally. However, we are still experiencing a double error in the console, one from HB and one from React. I was curious if the HB one can be silenced since the stack trace isn't helpful and is just noise.

[https://ibb.co/7pRQMjT](Example)

You can see the app

[2021-04-16 16:26] joshuap commented on #568
Does it say where that console message is being generated? Our react error boundary doesn't do any logging that I'm aware of, so I think that may be a feature of React. I'm not sure how we would disable that.

[2021-04-16 17:55] tannerhuynh commented on #568
Here you see every message in the console is wrapped in this Honeybadger message leading back to the breadcrumb function.

[https://ibb.co/Nx8Wd88](https://ibb.co/Nx8Wd88)

Specifically this line:
[https://ibb.co/vPnz5zJ](https://ibb.co/vPnz5zJ)

Any idea what this is about?

[2021-04-19 18:42] joshuap commented on #568
@tannerhuynh Gotcha. You can disable console breadcrumbs via Honeybadger's configuration:

https://docs.honeybadger.io/lib/javascript/guides/breadcrumbs.html#enablingdisabling-breadcrumbs

This isn't something that we do automatically, but I'll think about that a bit.

Also, for future reference, [you can upload file attachments to issues on GitHub directly](https://docs.github.com/en/github/manag

[2021-04-19 18:42] #568 closed

[2021-04-19 19:06] tannerhuynh commented on #568
Hah, I didn't know that. Thanks!

[2021-04-20 17:39] joshuap opened #570 "Disable console breadcrumbs in dev environments"
Honeybadger's console instrumentation (for breadcrumbs) hijacks the stack trace in console logs, which is annoying in local development. Should we disable that instrumentation for dev environments by default?

[2021-04-28 16:23] joshuap opened #925 "API should match honeybadger.js"
This library does not use our [more robust universal honeybadger.js client](https://github.com/honeybadger-io/honeybadger-js) (I'm not sure if we could depend on that project in the future, which would allow us to share more of the features already implemented there—see honeybadger-io/honeybadger-js#926). In any case, it seems like it would be good to use the same APIs that people are already fami

[2021-04-28 16:30] joshuap opened #926 "Depend on honeybadger-js or core"
A while back we [rebuilt our honeybadger.js JavaScript client](https://www.honeybadger.io/blog/universal-honeybadger-js/) as a universal JavaScript client to support both browser JS and Node. Currently honeybadger-react-native implements its own limited JavaScript client that is used only in React Native projects.

Would it be possible to integrate with honeybadger.js so that we can share the core

[2021-05-12 17:00] joshuap opened #927 "Support React's ErrorBoundary"
Background:

Maybe related to honeybadger-io/honeybadger-js#926 (which could let us use our existing @honeybadger-io/react package?) I'm not very confident on this; further investigation is needed.

[2021-05-12 17:04] joshuap opened #928 "Add Breadcrumbs support"
Background:

See also honeybadger-io/honeybadger-js#926 (which could give us the Breadcrumbs API for free).

## Specification
The client should have a **public** `addBreadcrumb()` method that stores an array of breadcrumbs. There should also be a public `clear()` method (see also: honeybadger-io/honeybadger-react-native#4) to reset the breadcrumbs to the default (`[]`).

- Data should be stored [l

[2021-05-12 17:09] joshuap opened #929 "Development mode"

[2021-05-12 17:25] joshuap opened #930 "Expo enhancements"
Let's use this issue to collect feedback regarding integration with [Expo](https://expo.io).

![Screen Shot 2021-05-01 at 9 13 03 PM](https://user-images.githubusercontent.com/474649/118017953-0c2a2480-b30c-11eb-96e3-99ee99bda3ea.png)

- [ ] Investigate expo location issue—is it fixed by uploading source maps?
- [ ] Can we fix the error that it can't configure the native side?

<img src="https://f

[2021-05-12 17:27] joshuap opened #931 "Redux Saga"

[2021-05-13 10:01] JustFly1984 commented on #538
Hello @joshuap  @mFingers I'm representing TheKnotWorldWide, as my client. We have similar issues, while migrating our API to TypeScript.

I've solved an import of the `Honeybadger.Notice` type in the project by using typescript's helper functions:

[code]

and still I had to use ts-ignore comment to continue working without introducing dirty hacks.

`d.ts` files are imperfect, and could be outdat

[2021-05-17 20:30] joshuap commented on #538
@JustFly1984 are you using the latest version of @honeybadger-io/js? We switched those definitions to use explicit any:

https://github.com/honeybadger-io/honeybadger-js/blob/master/honeybadger.d.ts#L18

I'd accept a PR with the serverless `AWS` types if that is a better option.

[2021-05-17 21:14] JustFly1984 commented on #538
@joshuap Yes, I'm using latest version of the library. "@honeybadger-io/js": "3.2.0", and also I'm using typescript 4.2.4

Errors persists.

<img width="505" alt="Screen Shot 2021-05-18 at 4 13 27 AM" src="https://user-images.githubusercontent.com/2255993/118557482-6fdea280-b78f-11eb-8631-cfaa8e04d74f.png">

[2021-05-17 21:28] joshuap commented on #538
@shipjs prepare

(Doh, I realized we have an unreleased change. Will have a new release to try shortly.)

[2021-05-17 21:34] joshuap commented on #530
It turns out the `shouldPrepare` approach didn't work because `commitNumbersPerType` is always 0 (since we're not using keep a changelog instead of conventional commits).

https://github.com/honeybadger-io/honeybadger-js/commit/37c6822b311ef3a6d12c54d97e08fc9b91e41115

[2021-05-17 21:35] joshuap commented on #530
@shipjs prepare

(testing that revert.)

[2021-05-17 22:12] joshuap commented on #538
@JustFly1984 can you try 3.2.1 and see if you get the same errors?

[2021-05-18 06:44] JustFly1984 commented on #538
@joshuap Thank you, in 3.2.1 all errors are gone.

[2021-05-18 18:23] joshuap commented on #538
@JustFly1984 awesome, thanks for the update!

[2021-05-24 16:58] joshuap commented on #538
Closing this—hopefully, the latest release fixes everything. Feel free to reopen or create a new issue if not.

[2021-05-24 16:58] #538 closed

[2021-06-29 15:53] sadiqawos opened #604 "Typescript module error"
## What are the steps to reproduce this issue?
1. Set up a new Node project using TypeScript (I'm using electron)
2. Add @honeybadger-io/js to the project

## What happens?
Typescript compiler complains about the following
[code]

## What were you expecting to happen?
No complaints by typescript compiler about `express` since I'm not using it in my project

## Any logs, error output, etc?
[code]

[2021-06-29 15:59] joshuap commented on #604
Thanks for the bug report!

The issue may be that express is in our `devDependencies`, which aren't installed. I don't want to add express to our main dependencies just to get the type definitions, so we'll have to come up with some different type definitions (or a workaround).

https://github.com/honeybadger-io/honeybadger-js/blob/master/honeybadger.d.ts#L3

[2021-06-29 16:41] sadiqawos commented on #604
Thanks for the prompt response.

If the concern is to keep dependencies to a minimum, why don't you split up the typedef into its own package?

I'm not too familiar with this myself, so I had to read [this](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#dependencies) very quickly!

[2021-07-13 13:58] erwanjugand opened #609 "Typescript : Missing type for clear()"
## What are the steps to reproduce this issue?
1. Use `clear()` in a project with TS

## What happens?
TypeScript return `Property 'clear' does not exist on type 'Honeybadger'`

## What were you expecting to happen?
`clear()` should be in the Honeybadger type

## What versions are you using?
**Package Version:** 3.2.1

[2021-07-15 17:32] #609 closed

[2021-07-19 17:18] joshuap opened #615 "[Docs] TypeScript guide"
See https://github.com/honeybadger-io/honeybadger-js/pull/612#issuecomment-881577821

It could be nice to add a TypeScript how-to guide to the [docs](https://docs.honeybadger.io/lib/javascript/).

[2021-07-19 18:50] joshuap commented on #604
Hi @sadiqawos, this should be fixed in v3.2.2 (just released). Can you try that out and let me know if you have any more problems? Thanks!

[2021-07-19 18:50] #604 closed

[2021-07-20 15:10] shalvah commented on #530
I think https://github.com/honeybadger-io/honeybadger-js/pull/617 should fix it. Tested locally with dry run, but not sure how else to test.

[2021-07-20 15:14] shalvah commented on #530
Okay, mentioned the bot, and nothing so far, so maybe...?🤔

[2021-07-21 18:58] #530 closed

[2021-08-09 18:23] joshuap opened #932 "Document configuration method and options"
Now that we have multiple configuration options available (#4), we should have a section on config. The new [Crystal docs](https://github.com/honeybadger-io/honeybadger-crystal#configuration) have a good example of what this section should look like.

[2021-08-12 20:14] joshuap opened #624 "Include source snippet in node backtraces when available"
See how this works in Ruby:

https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/backtrace.rb#L83

Here's the schema:

https://github.com/honeybadger-io/honeybadger-schemas/blob/master/exceptions/v1/notices.json#L165

[2021-08-13 22:06] andreybutov opened #625 "Add a "details" field for additional data to be stored in the options for notify()."
For the **notify(err, errorClass, options)** method, please add a "**details: {}**" field that accepts an object. This data will be used to hold additional information pertaining to the error, specifically, data related to native exceptions caught by the Honeybadger React Native integration.

**Example usage:**

[code]

[2021-08-19 15:02] andreybutov opened #627 "Error thrown when using with Honeybadger React Native"
While integrating this package to work with Honeybadger React Native ( https://github.com/honeybadger-io/honeybadger-react-native/issues/3#issue-870133998 )

... an exception was thrown:

**TypeError: undefined is not an object**

This happened while evaluating ```window.location.protocol``` in the constructor in **src/browser.ts**

[2021-08-23 18:20] joshuap commented on #627
@andreybutov I'm thinking we probably want to create a separate client rather than try to support native in the browser integration. Do you know if RN can support any of [these browser integrations](https://github.com/honeybadger-io/honeybadger-js/tree/master/src/browser/integrations)? I'm not sure how it works.

[2021-08-24 21:52] andreybutov commented on #627
@joshuap I think our earlier idea of perhaps relying on the universal core is the most promising one for now. I'm going to explore that. At worst, HB RN will need to implement a few pieces that are missing from core, rather than modifying universal to accommodate HB RN.

[2021-08-24 21:52] #627 closed

[2021-09-09 11:45] subzero10 commented on #551
@joshuap I will take this ticket and check it against our latest work on Vue 3.

[2021-09-09 16:19] joshuap opened #633 "TypeScript issue w/ React"
Here's an issue reported via email. I wonder if there's a TS definition bug in [honeybadger-react](https://github.com/honeybadger-io/honeybadger-react) related to the recent TS fixes in honeybadger-js?

<img src="https://frontapp.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_3k76p)

[2021-09-10 12:14] justinlittman opened #634 "TypeError: Cannot read properties of undefined (reading 'enter')"
## What are the steps to reproduce this issue?
1. Checkout this branch: https://github.com/LD4P/sinopia_api/tree/t156-openapi
2. `npm i`
3. `npm run test`
4. In `app.js` put HB before OpenApiValidator:
[code]
5. `npm run test`

## What happens?
Tests run successfully when OpenApiValidator is first (any errors are OK; the implementation isn't complete); tests die when HB is first.

## What were you

[2021-09-10 15:59] joshuap commented on #633
@subzero10 can you take a look at this and #634 when you get the chance?

[2021-09-10 16:57] subzero10 commented on #633
Yes! Will do!

[2021-09-12 11:58] subzero10 commented on #633
@joshuap Regarding this ticket, please my [PR](https://github.com/honeybadger-io/honeybadger-react/pull/272) on `honeybadger-react`.

[2021-09-14 15:04] joshuap commented on #633
I released the fix for this in  @honeybadger-io/react 1.0.2

[2021-09-14 15:04] #633 closed

[2021-09-14 15:16] joshuap opened #635 "Should the `enableUncaught` config option apply to all instrumentation?"
Currently, the `enableUncaught` option disables reporting errors caught by `window.onerror`,  but there are a few other places we automatically report errors:

1. [timers plugin](https://github.com/honeybadger-io/honeybadger-js/blob/master/src/browser/integrations/timers.ts)
2. [event_listeners plugin](https://github.com/honeybadger-io/honeybadger-js/blob/master/src/browser/integrations/event_list

[2021-09-14 15:24] joshuap commented on #635
Follow-up question: if `enableUncaught` disables *reporting* uncaught errors, should breadcrumbs still be recorded when the uncaught errors happen? That would mean that the instrumentation should still run (so that breadcrumbs are added for uncaught errors), but `enableUncaught` would control whether `Honeybadger.notify` is called for uncaught errors.

[2021-09-14 15:31] joshuap opened #636 "Make plugins overridable"
Currently, we support an internal `__plugins` config option that allows each client implementation to load its own plugins (usually instrumentation). It might be useful for users to be able to override plugins, in case they want to skip the instrumentation. To enable this, we could just rename `__plugins` to `plugins` and let people do:

[code]

My only question is whether anyone will eventually w

[2021-09-18 07:33] subzero10 commented on #634
Hey @justinlittman,

This link is not valid anymore: https://github.com/LD4P/sinopia_api/tree/t156-openapi

Did you manage to solve this?

I created a fresh project, found [here](https://github.com/subzero10/honeybadger-open-api-test).
I deliberately make the Open Api Validator fail by returning a non-matching json for the `/users` route:
![image](https://user-images.githubusercontent.com/5813382/

[2021-09-20 11:23] subzero10 commented on #635
Hello, here's what I'm thinking on this matter:

- A customer that uses `enableUncaught` most probably wants to call notify _manually_. This means we should not report errors _automatically_.
- We also have the option `enableUnhandledRejection`. Perhaps we could have `enableTimerErrors` and `enableEventListenerErrors`. Though I believe these options fall under the `enableUncaught` option and they

[2021-09-20 20:09] joshuap commented on #634
We have the `developmentEnvironments` options which automatically include the "test" environment—so if the Honeybadger `environment` === "test", errors should not be reported. If you want to prevent the API key warning in test environments, you could shift the order of [these conditionals](https://github.com/honeybadger-io/honeybadger-js/blob/master/src/core/client.ts#L133).

[2021-09-20 20:18] joshuap commented on #635
Thanks @subzero10!

I agree—I think we should apply this option to the timers and event_listener plugins.

Right, let's not add additional options. Although, I think it's OK that `enableUnhandledRejection` is a separate option since promise rejections seem a bit different from other types of uncaught errors. Does that make sense to you?

I don't think this is necessary—let's continue to collect br

[2021-09-20 20:19] subzero10 commented on #634
@joshuap That's nice, I missed those! I guess we could switch the conditionals and if `disabled: true` or `reportData: false`, we could exit the `notify` function. I will submit a PR!

[2021-09-21 07:39] subzero10 commented on #634
Link to [PR](https://github.com/honeybadger-io/honeybadger-js/pull/637).

[2021-09-21 08:58] subzero10 commented on #635
@joshuap I'm following the comments and I want to make sure I got this right:
[code]
The `if` block will execute if:
- `opts.catch` is true **OR**
- `preferCatch` evaluates to true (based on browser) **OR**
- `enableUncaught` **is** false

Do we want to change that to:
- `enableUncaught` is true **AND**
- (
    - `preferCatch` evaluates to true (based on browser) **OR**
    - `opts.catch` is true

[2021-09-21 15:40] joshuap commented on #635
Let's hold for now until I can spend some time looking at it. I'll walk you through the conditional logic in your last comment and take a closer look at the code myself, as this is probably the most complex part of the library.

[2021-09-22 06:39] #634 closed

[2021-09-22 11:31] subzero10 commented on #551
Hello @ssickles,

Please note that we have officially released a version that supports vue3. You can find more about that on our [docs](https://docs.honeybadger.io/lib/javascript/integration/vue3/). Please give it a try and let us know if you have any issues!

In any case, I'm trying to reproduce the issue you are experiencing but I'm having some trouble.
I know it's been some time since you worke

[2021-09-22 14:03] ssickles commented on #551
Hey Pangratios,

This is good news. I am currently away but I will be able to take a look at
this early next week.

Scott

On Wed, Sep 22, 2021 at 7:31 AM Pangratios Cosma ***@***.***>
wrote:

[2021-09-28 14:56] ssickles commented on #551
Hey Pangratios,

I created a new project to try and re-create the issue I was having with
the browser freezing. At the moment I am unable to reproduce on the newer
versions of @honeybadger-io/js. This may be fixed. I'll keep working on
trying to reproduce but good so far.

Regards,
Scott

On Wed, Sep 22, 2021 at 10:03 AM Scott Sickles ***@***.***>
wrote:

[2021-09-28 16:20] subzero10 commented on #551
@ssickles Thanks for giving it another go.
I'm happy to hear the issue is not happening for you anymore.

Please let us know if you manage to reproduce.

Thanks again!

[2021-09-28 16:20] #551 closed

[2021-10-13 17:41] joshuap commented on #624
Sure, check out the sample backtrace here:

https://docs.honeybadger.io/api/reporting-exceptions/#sample-payload

It's an object keyed by `line_number => line_contents` from the source file. Each line of the backtrace can have a `source` object if one is available.

[2021-10-13 18:41] grantkee opened #645 "Honeybadger Error Reporting `UnhandledPromiseRejectionWarning: Unspecified reason`"
## What are the steps to reproduce this issue?
1. Setup honeybadger on my app. Confirm things work as expected.
2. Get a notification for honeybadger error from honeybadger source code

3. Not sure how to reproduce from my user's side

## What happens?
I get the following error:
<img width="1440" alt="Screen Shot 2021-10-13 at 1 22 57 PM" src="https://user-images.githubusercontent.com/49913008/137

[2021-10-19 16:42] joshuap commented on #645
Hi @grantkee.

This error is showing the Honeybadger integration as the source of the notification because there is no stack trace associated with the error. When there is no error stack trace, we create a stack trace that points to the location where `Honeybadger.notify` was called, which was internal in this case.

"UnhandledPromiseRejectionWarning: Unspecified reason" usually means that a [Java

[2021-10-19 16:42] #645 closed

[2021-10-19 17:37] tweaktastic opened #648 "Unable to get an error thrown from inside the handler after wrapping it in lambdaHandler"
## What are the steps to reproduce this issue?
1. Create an APIGateway handler method for AWS lambda
2. Throw an error inside the handler.
3. Add a test to execute the handler to throw an error. The error never gets thrown.

I have my main handler as defined below:
[code]

In my tests I import this handler and want the test to fail

[code]

## What happens?
There are two things that are happening

[2021-10-20 17:28] tweaktastic commented on #648
Hi @subzero10 Thanks for the update regarding this. I tried to make this work as per your example that you posted yesterday itself.
[code]
I have been trying to make it work since yesterday but the test times out without ever entering the callback. I am using jest and am wondering if I am doing something wrong.

[code]

[2021-10-20 21:27] tweaktastic commented on #648
@subzero10 I have added a sample repo here. https://github.com/tweaktastic/honeybadger-testing

[2021-10-21 06:02] subzero10 opened #649 "ignorePatterns: was it supposed to work or is it deprecated?"
## What are the steps to reproduce this issue?
1. Configure a honeybadger client with a regex in `ignorePatterns`
2. Call `honeybadger.notify()` with a message that would match the ignore pattern

## What happens?
`honeybadger.notify()` returns `true` and the message is sent to honeybadger.

## What were you expecting to happen?
`honeybadger.notify()` to return `false` and nothing to be reported t

[2021-10-21 17:39] subzero10 commented on #648
Hey @tweaktastic,
Thank you for creating a repo. I have found the issue and submitted a [PR here](https://github.com/honeybadger-io/honeybadger-js/pull/650).
It seems that the callback is not called if some preconditions fail and one of them is _missing api key_.
As a workaround (for your tests to pass and until the PR is merged), you can add this block of code just before `Honeybadger.lambdaHandl

[2021-10-21 18:09] subzero10 commented on #648
I understand. `reportData` is actually one of the preconditions I mentioned above. That's why it behaves the same as not supplying an `apiKey`.

You are correct, my PR should call the callback even when `reportData` is `false`.

[2021-10-21 18:22] tweaktastic commented on #648
Thanks for all your help @subzero10. I really appreciate your feedback and your quick response regarding this. We will wrap the handler to return the Promise as you have mentioned.  Looking forward to use `Honeybadger` alerting.

[2021-11-01 18:12] joshuap commented on #648
This is released in 3.2.7. Let me know if you need anything else!

[2021-11-01 18:12] #648 closed

[2021-11-02 07:59] subzero10 opened #654 "`afterNotify` handlers should be called even if notice is not sent to honeybadger"
`afterNotify` handlers are not called if preconditions fail. We can call them and pass on an `error` as the first parameter.
Example: `new Error('API key is not configured')`

More on this [here](https://github.com/honeybadger-io/honeybadger-js/pull/650#issuecomment-956787935).

Note to self:
~- Should this be a major version release? What if there are users that rely on `afterNotify` as an indica

[2021-11-02 17:11] joshuap commented on #654
I kind of doubt this, but even if they are, they *should* be handling the error argument already (since the error report can fail in other ways).

[2021-11-05 20:58] tweaktastic commented on #648
@subzero10 Hope you are doing well. We integrated your changes to our project and the error now do get reported however there are multiple issues that we are facing.

- We were earlier using `notify` to report errors. This doesn't work with Lambdas as they exit even before the lib has made a call to honeybadger. This we were getting only fraction of errors getting reported to use and thus started

[2021-11-06 11:32] subzero10 commented on #648
Hey @tweaktastic, I'm glad to see that you are finally getting errors reported on _Honeybadger_.

Have you looked into the `beforeNotify` handler? That could help achieve what you want. I'm not 100% sure though, since I haven't read your source code. But it may be possible if you register some callbacks to be called in the `beforeNotify` handler.  The callback is called with a `Notice` object with

[2021-11-19 17:26] joshuap opened #661 "Logging errors in development mode"
Some users want to log errors rather than report them in development mode. Currently [we do `console.debug`](https://github.com/honeybadger-io/honeybadger-js/blob/3d9312daaf7c570888cbf53c8c435e9a42d595b1/src/core/client.ts#L146) when skipping errors in development mode, but we don't include the original error in the output, and the `debug` level is easy to miss because it's usually suppressed by d

[2021-11-19 17:26] joshuap commented on #661
What do you think @subzero10?

[2021-11-21 19:16] subzero10 commented on #661
In my experience with the npm space, packages hide their _debug_ logs by default.
I think we could use the [debug](https://www.npmjs.com/package/debug) module to log all our _debug_ messages and make sure to include in our documentation how to enable them (simply set an env variable).
For example, [here](https://expressjs.com/en/guide/debugging.html) is how it is documented for express.js.
We coul

[2021-11-23 19:51] joshuap commented on #661
We do have an additional `debug` config option already:

https://docs.honeybadger.io/lib/javascript/reference/configuration/#configuration-options

Basically that enables additional debug logging to the logger, but you may also need to enable the debug level in the console to see them in some browsers? It's been a while since I used it.

In any case, the debug output does not currently include the

[2021-11-23 20:26] joshuap commented on #661
Related—someone else just requested a similar feature, but in production:

That might be a separate issue, but dropping it here for now. I wonder if we should always log the error when `Honeybadger.notify` is called?

[2021-11-24 20:23] subzero10 commented on #661
That might be a good idea. As a user, I would like to have this.

[2021-11-30 19:00] joshuap commented on #636
Still looking for input on this—I'm not sure if it's something I want to do yet.

[2021-12-01 12:54] subzero10 commented on #636
I'm still thinking about this, but what if we exported the built-in plugins together with the plugins configuration above?
We can say that the default plugins are the internal ones, but you can overwrite the order (or even remove).
For example (nodejs):
1.
[code]
`plugins` array not passed as an option, so the defaults are used.

2.
[code]
No plugins to be loaded/used.

3.
[code]
Honeybadger plugi

[2021-12-08 18:21] shalvah opened #668 "Revisit Lambda integration"
I'm using honeybadger-js on an AWS Lambda function. It works (wrapping my handler in `Honeybadger.lambdaHandler()` catches errors), but I'm noticing a few things:

1. Minor issue: the type definition requires the old `callback` parameter, when you can just return a `Promise` these days.
2. It swallows the return value of my handler. You can see [from the source](https://github.com/honeybadger-io/h

[2021-12-08 20:55] joshuap commented on #668
@subzero10 any thoughts on this one?

[2021-12-08 20:57] joshuap commented on #636
Yeah I like that idea.

[2021-12-09 00:24] #654 closed

[2021-12-09 00:25] joshuap commented on #661
I'm working on this now. I think I've changed my mind about making the production mode more verbose, but I should be able to improve the debug and development mode logging.

[2021-12-09 00:27] #624 closed

[2021-12-09 07:51] subzero10 commented on #636
OK, I will add to my TODO list and start working on it soon.

[2021-12-10 00:15] joshuap opened #671 "Remove deprecated `disabled` config option"
The `disabled` config option is currently deprecated, and I'm comfortable removing it in the next major/minor honeybadger.js version.

[2021-12-14 15:27] subzero10 commented on #668
Yeah, we could improve the type definition, it is quite basic at the moment.
[code]

Indeed, the callback vs promise adds additional complexities to the code. It’s harder to read and maintain. We even had to come up with some [_hacks_](https://github.com/honeybadger-io/honeybadger-js/blob/71b38f23bb86df1a346a2aef7cae7ead70cc39d1/src/server/middleware.ts#L54) to support this. I would say the evolut

[2021-12-14 19:34] joshuap commented on #668
I'm forgetting exactly why we used domains before, but there was a really good reason (and I believe even though they're deprecated, they're still used by some similar packages). I'd want to research to make sure we're not losing anything/adding regressions by removing/replacing them.

I'm good with the other items. Regarding promises vs. callbacks, I'm fine with promises internally. For end users

[2021-12-14 20:06] shalvah commented on #668
Yeah, I'm on board.

Re the typedef, maybe we can add this [lambda types package](https://www.npmjs.com/package/@types/aws-lambda),  ([example post](https://serverlessfirst.com/aws-lambda-type-definitions/) for reference) although that means every user of HB JS will have that included.

I'd prefer this, but it seems the callback version is [still supported](https://docs.aws.amazon.com/lambda/lates

[2021-12-14 21:11] joshuap commented on #668
@shalvah thanks, yeah let's try converting to a discussion!

[2021-12-28 11:24] subzero10 opened #677 "AWS Lambda Integration: async handler"
### Discussed in https://github.com/honeybadger-io/honeybadger-js/discussions/674

Improve implementation of callback based and async (promise based) lambda handlers.

- Modify lambdaHandler to return async handler instead of callback based handler.

Question: Should this be a major release?

[2021-12-28 11:34] subzero10 opened #678 "Codebase: Callback to Promise based"
### Discussed in https://github.com/honeybadger-io/honeybadger-js/discussions/674

Replace callbacks with promises in the package.
Consider using a [polyfill](https://github.com/rollup/plugins/tree/master/packages/inject) to support Promises for browsers that do not support it.

[2021-12-28 11:46] subzero10 opened #679 "AWS Lambda integration: Add timeout warning"
### Discussed in https://github.com/honeybadger-io/honeybadger-js/discussions/674

Add a timeout warning when the lambda function is within a number of milliseconds from tis execution time (15 minutes).

[2021-12-31 14:02] shalvah commented on #679
Just to add: it's not necessarily 15 minutes. We should use [`context.getRemainingTimeInMillis()`](https://docs.aws.amazon.com/lambda/latest/dg/nodejs-context.html) to fetch the remaining time.

[2021-12-31 14:06] shalvah commented on #677
By itself, hopefully not. But if we go ahead to replace the callback code with promises, then perhaps.

[2022-01-03 10:14] subzero10 commented on #677
We are not replacing all code with promises in this PR but we are going to be returning a promise-based lambda handler instead of callback-based.

[2022-01-05 17:49] joshuap commented on #678
I think I'm still not totally clear on how much effort this would take, and if it would introduce any breaking changes for end-users. The primary benefit is that it would simplify the internal code, right?

[2022-01-09 04:08] sedhuait opened #682 "AWS Lambda - Serverless Framework - Nestjs - Getting Timed Out"
## What are the steps to reproduce this issue?

I have hosted a REST API with AWS Components like API GATEWAY & LAMBDA using Nestjs and Serverless Framework.

[code]
So to integrate with Honeybadger Lambda Handler I have made the changes below. It had typescript error and I refactored it as follows
![image](https://user-images.githubusercontent.com/1628931/148668863-058ac9a6-be8a-46ae-a6a2-90c41a3

[2022-01-09 09:02] subzero10 commented on #678
**Effort:**
It should be easy to do. After a quick look through the code, we'd have to modify only a few places in code:
- `server.util.getStats`
- `server.util.getSourceFile`
- `core.util.getSourceForBacktrace`
- `lambdaHandler` -> although it's tackled in a different issue/PR.

Then, make sure to include a [polyfill](https://github.com/rollup/plugins/tree/master/packages/inject) for the browser

[2022-01-10 21:28] subzero10 commented on #682
Hey @sedhuait , thanks for submitting an issue. I will try to reproduce your issue and come back to you. FYI, we are already working on [improving](https://github.com/honeybadger-io/honeybadger-js/issues/677) our lambda handler implementation, so stay tuned!

Thanks!

cc @joshuap

[2022-01-12 22:11] subzero10 commented on #682
Hey @sedhuait, I created a nest.js + serverless app and I was able to reproduce your issue:
[code]
I then tried our upcoming version of honeybadger-js which includes changes in our AWS lambda handler implementation the timeout error went away.
Can you please give it a try and let me know if it works for you?
Just do:
[code]
Then deploy and test.

Thanks!

[2022-01-13 03:43] sedhuait commented on #682
Sure. Gimme sometime. I'll check and update

[2022-01-15 06:15] sedhuait commented on #682
[code]

Why it has to be `APIGatewayProxyHandler` ? Suppose, if I have plain lambda to handle some other events like aws congnito event, or an event from aws event bridge How should I use it?

[code]

[2022-01-15 09:58] subzero10 commented on #682
Yes this is possible.
The `Honeybadger.lamdaHandler` wrapper actually waits for the exception to be reported before resolving/rejecting the handler.

The tricky part here is that `Honeybadger.notify()` is built as a _fire-and-forget_ method. That's why we haven't moved forward to make it return a promise. However, for serverless invocations, this might be necessary.
For now, I can suggest a workar

[2022-01-15 10:00] subzero10 commented on #682
Can you please provide a snippet of code where this is showing the errors? Basically, I'm looking to find all the missing types and make sure they are available (if they should be).

[2022-01-15 10:05] subzero10 commented on #327
Hey @joshuap, I think we have to re-visit the idea of having an async version of `notify`, see #682.

[2022-01-16 05:59] sedhuait commented on #682
@subzero10 Example for **CustomMessageTriggerHandler**

[code]

Ideally HB should support all the events and handlers from
`node_modules/@types/aws-lambda/trigger`

[2022-01-19 17:35] #661 closed

[2022-01-20 21:24] subzero10 opened #686 "Chrome Extension: `window is not defined` for background scripts"
Looks like `window` is not available in background scripts.

Bug first reported [here](https://github.com/honeybadger-io/honeybadger-js/pull/665#issuecomment-1017604994).

[2022-01-20 21:30] subzero10 commented on #682
Good point @sedhuait, I am working on this at the moment. I will see if we can have a _typed_ solution or if we will just use `unknown`, meaning that you will have to cast to the correct type inside your handler.

[2022-01-21 23:35] joshuap commented on #686
Hmmm. I would love to avoid a situation where we have to guard access to `window` in the browser client. 🤔

That said, something similar came up w/ someone who was trying to integrate with a Cloudflare worker (which is also on my integration wishlist).

[2022-01-23 09:46] subzero10 opened #688 "AWS Lambda - Isolated context per handler"
Issue discussed [here](https://github.com/honeybadger-io/honeybadger-js/pull/680#issuecomment-1003383252).

Suggestion from @shalvah is to use `AsyncLocalStorage` to isolate `context` (and `breadcrumbs`) to the executing lambda.

[2022-01-23 10:02] subzero10 commented on #682
@sedhuait The type definitions are done. `Honeybadger.lambdaHandler` is now a generic function.
The above should work with this:
[code]

Please follow #677 , which should be released soon and will include:
- Fix for the timeout issue
- `Honeybadger.notifyAsync`
- improved type definitions

cc @joshuap

[2022-01-26 10:13] christianopaets commented on #686
Instead of window we can use self. I have tried to to use smth like `global.window = self` and the error disapeared. But there is another problem)) `document` also doesn't exists

[2022-02-02 21:08] #671 closed

[2022-02-08 20:04] #635 closed

[2022-02-15 09:32] olleolleolle opened #897 "URLs to docs about React out of date"
## What are the steps to reproduce this issue?
1. Navigate to the docs section about [Example App](https://github.com/honeybadger-io/honeybadger-react#example-app).
2. Find the links to external documentation.
3. Note that none of those work. They 404.

## What happens?

The links are dead.

## What were you expecting to happen?

I expected there to be notes about how hot code reloading works, or

[2022-02-24 07:59] shalvah opened #708 "Node.js server integration - isolated context per request"
Like #688, but for traditional single-threaded, server-side Node.js apps. The goal is to ensure that context does not "spill over" across _concurrent_ requests being handled by the same process.

## Problem
First, a simple proof of concept (tested with the included express example):

[code]

Then make two concurrent requests (I use [autocannon](https://www.npmjs.com/package/autocannon)):

[code]

[2022-02-24 09:05] subzero10 commented on #708
Hey @shalvah, thank you for submitting this!

I already have some thoughts on how to implement this; I will put them in writing here (in a day or two) and we can discuss.
Have you thought on how this would be implemented?

[2022-02-24 09:41] shalvah commented on #708
Thoughts:

### Manual wrapping
Wrap the request handler in als.run(). But this will require the users to wrap each of their request handlers, and I don't know if we want to add that friction.

### Middleware
We could use an Express middleware, that does something like `als.run(store, () => next(req, res))`.

This might be good for Express users, but we need to be intentional about error handling,

[2022-03-03 19:31] shalvah commented on #708
@subzero10 are you already on this, or can I pick it up? I've got an app I'd like to track with Honeybadger, but the "leaking context" is a pain to work around.

[2022-03-03 20:00] subzero10 commented on #708
No I'm not, you can go ahead!

[2022-03-03 20:21] shalvah commented on #708
@joshuap what do you think of these approaches?

[2022-03-03 20:26] subzero10 commented on #708
@shalvah How about we do the middleware solution for frameworks that we already provide middleware (`Express` & `Connect`)?

[2022-03-03 20:31] shalvah commented on #708
Right. And for non-supported frameworks, maybe we provide a `hb.run(handler)` which is a wrapper over `als.run(getContext(), handler)`? 🤔

[2022-03-03 20:49] subzero10 commented on #708
Hmm, I'm not sure, I haven't seen such feature in other tools. I think I need to think/research about this more.

[2022-03-03 21:05] shalvah commented on #708
Elastic APM uses a mix: they [patch the `http` module](https://github.com/elastic/apm-agent-nodejs/blob/main/lib/instrumentation/http-shared.js) to automatically start a transaction, but the internal transaction context seems to use the approach I mentioned last [(custom async hooks)](https://github.com/elastic/apm-agent-nodejs/tree/main/lib/instrumentation/run-context).

Sentry...seems to also ha

[2022-03-03 21:11] shalvah commented on #708
I think I'll go with the custom middleware/hb.run(...) approach. I like that monkey-patching needs no end user code changes, but it can go hairy quickly.
- Monkey-patching takes a lot of care to implement thoroughly. I've worked with Express' internal API, and it's a mess.
- It's fragile. We'd need to rework our patch if a new version of the framework changes things.
- Currently isn't fully suppor

[2022-03-03 22:23] shalvah commented on #708
Got a proof of concept working:

![image](https://user-images.githubusercontent.com/14361073/156662783-44f49d7a-37b8-424d-a5d2-864394557232.png)

Repurposed the existing `requestHandler` middleware (which doesn't do anything, but I'll explain in the PR), so no user code changes required.

[2022-03-09 22:09] #708 closed

[2022-03-30 15:03] thatsmydoing opened #722 "`toJSON` not respected in honeybadger sanitize"
## What are the steps to reproduce this issue?
1. Add breadcrumb with metadata containing an object with a `toJSON`
2. Send a honeybadger notice

## What happens?
The metadata field in the breadcrumb just says `[object Object]`

## What were you expecting to happen?
It would use `toJSON` to expand it and then sanitize

## Any other comments?
The reason we want to do this is we do our own sanitizat

[2022-03-30 15:09] subzero10 commented on #722
Hey @thatsmydoing, thanks for submitting an issue. We will look at this asap.

[2022-03-30 19:12] subzero10 commented on #722
Hey @thatsmydoing, I looked into this and it works as expected for me. Here's a report with a json object in the metadata field:
[code]
<img width="1142" alt="image" src="https://user-images.githubusercontent.com/5813382/160912307-86d0f10b-3187-4836-b9dd-c5e87089ff61.png">

This points me to believe that the issue may be with the `toJSON` method you mentioned above. Can you please some of your cod

[2022-03-30 21:20] joshuap commented on #722
I know we intentionally decided to limit the nesting level of metadata for breadcrumbs, I think because context is a better use case if you really need to inspect nested data structures. @rabidpraxis, do you recall other reasons?

[2022-03-31 03:55] thatsmydoing commented on #722
Sorry, I was unclear. I meant something like

[code]

`JSON.stringify` by itself will just have foo be `bar` but the sanitize step of honeybadger turns it into `{"toJSON"=>"[object Function]"}`

I had asked about this and the response was that `JSON.stringify` with a space is how you'd get this to show up nicely. This is partly a reason why we want `toJSON` supported so we don't have to stringify

[2022-03-31 21:35] subzero10 commented on #722
@thatsmydoing Now I see, I will check this out and come back to you.

[2022-03-31 23:44] subzero10 opened #725 "Add `Honeybadger.checkIn()` in Honeybadger js client"

[2022-04-01 19:00] #722 closed

[2022-04-01 19:11] subzero10 opened #731 "Create git-hook for conventional commits"

[2022-04-01 20:33] subzero10 commented on #722
@thatsmydoing This has been fixed! You can try it out with `v3.2.9` or `v4.0.0-beta.2`.

[2022-04-02 17:17] subzero10 opened #736 "Typescript errors with Honeybadger v4"
### Discussed in https://github.com/honeybadger-io/honeybadger-js/discussions/723

<div type='discussions-op-text'>

<sup>Originally posted by **sedhuait** March 31, 2022</sup>
Hey there, I was on HB 3.2.7 and I'm trying to update it to v4.0.0-beta.1 and facing the following error.

Could someone help? Do we have an upgrade guide?

![image](https://user-images.githubusercontent.com/1628931/1609853

[2022-04-03 19:54] subzero10 opened #742 "Add lint checks on CI"
### Discussed in https://github.com/honeybadger-io/honeybadger-js/discussions/738

<div type='discussions-op-text'>

<sup>Originally posted by **subzero10** April  3, 2022</sup>
I have noticed that for some projects we have eslint enabled but it is only executed manually. For some projects, we don't have eslint configured at all.

Personally, I use my IDE to automatically lint on file save when es

[2022-04-03 19:57] #731 closed

[2022-04-03 19:58] subzero10 commented on #327
This has been released with v4 (currently in beta).

[2022-04-03 19:58] #327 closed

[2022-04-03 20:00] subzero10 commented on #682
This has been released with v4 (currently in beta).

[2022-04-03 20:00] #682 closed

[2022-04-03 20:04] subzero10 commented on #688
This has been released with v4 (currently in beta).

[2022-04-03 20:04] #688 closed

[2022-04-03 20:11] subzero10 commented on #677
This has been released with v4 (currently in beta).

[2022-04-03 20:11] #677 closed

[2022-04-04 04:32] thatsmydoing commented on #722
Thanks! This works for us. I notice that the implementation simply lets the `toJSON` function through which means the depth limit wouldn't be respected for anything returned by `toJSON`. We only return strings so this doesn't matter for us but it could be a gotcha.

[2022-04-06 19:33] #736 closed

[2022-04-19 20:37] #679 closed

[2022-04-19 21:16] #678 closed

[2022-04-22 17:18] ntalbott opened #760 "window.onerror [RECURSION] exception"
## What are the steps to reproduce this issue?

1. Install the Honeybadger library to catch client-side JS errors.
2. Get lots of these errors.

## What happens?

<img width="1132" alt="Screen Shot 2022-04-22 at 1 09 31 PM" src="https://user-images.githubusercontent.com/223/164762996-80a44e2e-3f62-4328-a7f3-0d1c9fefbd5d.png">
<img width="1128" alt="Screen Shot 2022-04-22 at 1 10 09 PM" src="https:

[2022-04-22 19:49] joshuap commented on #760
Can you take a look at this, @subzero10? I wonder if something is throwing an object that we're [flagging as recursive](https://github.com/honeybadger-io/honeybadger-js/blob/261668a5c675a172bd31ef21fb64e42d19013fd9/src/core/util.ts#L170).

[2022-04-24 08:35] #742 closed

[2022-04-24 12:30] subzero10 commented on #760
In order to flag one as recursive, it means that we are serializing an object that we've already seen (since the moment we call the `sanitize` method).
The best way to debug this would be a reproducible example.

cc @ntalbott @joshuap

[2022-04-25 14:41] ntalbott commented on #760
@subzero10 I wish I could easily give you a reproduction, but this is a consumer product and this issue is happening enough to be more than noise but not enough for me to have ever seen it in the wild.

What's the best way to get the latest version of the JS library? Even hitting the url in the docs (`js.honeybadger.io/v3.2/honeybadger.min.js`) I'm getting 3.2.8, not 3.2.9.

[2022-04-25 16:50] joshuap opened #762 "[deleted]"

[2022-04-25 16:51] #762 closed

[2022-04-25 17:19] joshuap commented on #760
@ntalbott sorry about that—stale CDN cache, it seems. It should be 3.2.9 now.

[2022-04-25 18:44] ntalbott commented on #760
OK, updated to 3.2.9, and even after burn-in, doesn't seem to have affected the rate of these (~100 hr, varied over time).

One question: with this getting thrown up to the HoneyBadger API, would an error message still get printed out to the console in the browser? Will try to keep an eye out if so and see if I can catch this in the wild.

[2022-04-25 19:53] subzero10 opened #763 "Monorepo - Milestone 1"
See discussion #739.

This should cover the [1st milestone](https://github.com/honeybadger-io/honeybadger-js/discussions/739#discussioncomment-2624314).

[2022-04-25 20:08] subzero10 commented on #760
Yes an error message should be printed out to the console. You can also enable more verbose logging by setting `debug: true` when configuring Honeybadger.

[2022-05-06 18:03] subzero10 opened #778 "Shipjs + Conventional Commits"
Deprecate the custom shipjs config and start using conventional commits to generate changelog.

[2022-05-11 15:23] #778 closed

[2022-05-24 19:19] subzero10 opened #799 "Shipjs skip release if there are no changes"
The weekly scheduled workflow will create a release even if there are no changes to the changelog.
We should use `shouldPrepare` and return `false` if there are no changes.
https://community.algolia.com/shipjs/reference/all-config.html#shouldprepare

[2022-05-31 05:54] #799 closed

[2022-06-03 17:26] hislopzach opened #805 "ignorePatterns feature should be removed from documentation"
## What are the steps to reproduce this issue?
1. https://docs.honeybadger.io/lib/javascript/support/faq/ suggests that one can ignore errors through the use of the `ignorePatterns` config option
2. [this commit](https://github.com/honeybadger-io/honeybadger-js/commit/4d5f1f966a1853f1534a0de217acd8cac32dbf45) (4d5f1f) shows that the option has been removed.[ the upgrade to v3](https://docs.honeyba

[2022-06-03 18:46] joshuap commented on #805
You're right, thanks! This has been fixed.

[2022-06-03 18:46] #805 closed

[2022-06-15 15:02] augusto-joecoffee commented on #570
Please!!!!

[2022-07-05 06:28] subzero10 opened #823 "ESM Support: https://honeybadger.slack.com/archives/C7ET3UGD6/p1652717240087049"

[2022-07-05 18:33] subzero10 opened #825 "no notifications with sailsJs + docker"
### Discussed in https://github.com/honeybadger-io/honeybadger-js/discussions/824

<div type='discussions-op-text'>

<sup>Originally posted by **atex21** July  5, 2022</sup>
Hey!
I'm trying to test honeybadger but it's being impossible.. I'm with sailsJS and docker, configurations as described in documentation:
[code]
variables arrive well to the container in docker.

In a first hand I realized th

[2022-07-05 21:10] shalvah commented on #825
Will take a look.

@atex21 what version of Sails and Node.js are you using?

[2022-07-05 22:40] shalvah commented on #825
(Also, is this exclusively within Docker? Were you able to test with Docker?) @subzero10 you said you were able to reproduce this; was it in Docker or outside? I don't really think this is a Docker thing, but I guess we should be sure.

My initial exploration:
- Yes, the middleware approach doesn't seem to work. The middleware stack is terminated after the error is thrown (later middleware aren't

[2022-07-06 07:39] atex21 commented on #825
Hi @shalvah!
The versions used are v14.17.6 for nodeJS and 1.5.2 for sailsJS.
I also tried notifyAsync as you mentioned but the error is the same about store & breadcrumbs..

[2022-07-06 18:28] shalvah commented on #825
@atex21 what does your controller where the error is thrown look like?

[2022-07-06 18:39] atex21 commented on #825
hey @shalvah !
in a first try I'm just trying to throw an exception simply.. I have created an endpoint which controller only throws

[code]

and what happened is that sails response serverError is "activated" and if I have a Honeybadger.notify / notifyAsync there I have the errors mentioned

[2022-07-06 18:43] shalvah commented on #825
What do you mean by `sails response serverError`? Is this a custom server error file you added? What does that look like?

[2022-07-06 18:44] shalvah commented on #825
Also, did you call Honeybadger.configure before trying to call notify?

It looks like this should be fairly straightforward to fix, but the Sails docs are terrible on error handling, so that's how this scenario was missed in the first place.

[2022-07-06 18:50] atex21 commented on #825
Yes, it's a file that can be configured in sails to answer to _res.serverError()_ , the file is `api/responses/serverError.js`

And yes, I do the config of honeybadger at the "beggining", in config/http.js as described in honeybadger docs

[2022-07-10 11:45] shalvah commented on #825
@afilipa okay, you've definitely got something weird going on here. Your error is occurring during the `uncaughtExceptionListener `, which shouldn't be called, as Sails catches that error and routes it to the `serverError` handler. And it looks like this may have something to do with the New Relic library, which seems to wrap and override some Node.js behaviour. Can you try disabling the New Relic

[2022-07-10 11:50] shalvah commented on #825
Also: it turns out the middleware approach _does_ work, but only for async errors.  (You can see this by throwing asynchronously in your controller: `setTimeout(() => { throw new Error('Badgers!') }, 100)`.) But it's kind of pointless anyway, since Sails still catches and routes to the serverError, so I'll update the docs to remove that.

[2022-07-11 20:08] shalvah commented on #825
Oops. I meant @alex21. Or whoever is having the issue.

[2022-07-11 20:08] shalvah commented on #825
Oops. I meant @atex21. Or whoever is having the issue.

[2022-07-12 08:46] atex21 commented on #825
Hi @shalvah!
I'm still trying to find the issue, I disabled new relic as you mentioned but it still doesn't work 😕
I'm also trying to do a little side project to reproduce it and show you, as soon as I have news here I'll let you know.

Regarding the import of honeybadger, I'm using the `require('@honeybadger-io/js')` as said in documentation.

No prob 😛, afilipa was me too, just used personal acc

[2022-07-14 02:30] qnighy opened #829 "TypeError: Cannot read properties of null (reading 'url') when reporting is disabled"
## What are the steps to reproduce this issue?

1. Initialize Honeybadger with `reportData: false` on a browser.
2. Call `Honeybadger.notify(new Error())`.

## What happens?

`TypeError: Cannot read properties of null (reading 'url')` is thrown.

## What were you expecting to happen?

No error is thrown.

## Any logs, error output, etc?
…

## Any other comments?

This is caused by https://github.c

[2022-07-14 22:24] subzero10 commented on #829
Hey @qnighy, thank you for submitting an issue **and** going through the trouble of investigating the source! I will fix this in the next few days.

[2022-07-15 22:51] subzero10 commented on #829
Hey @qnighy, I just submitted #834 for a fix to this issue.
However, I was only able to reproduce the error by calling `Honeybadger.notify({})`; if I do `Honeybadger.notify(new Error())` I don't get the error.

[2022-07-16 19:40] shalvah commented on #825
@afilipa any progress?

[2022-07-16 20:16] shalvah commented on #825
Also, please include your New Relic setup in your reproduction (minus sensitive data, of course). I strongly suspect that's the culprit here.

[2022-07-18 06:35] qnighy commented on #829
Thank you for the fix! That is what I want to get although I'm not sure why there is a difference between `{}` and `new Error()`.

[2022-07-18 08:31] subzero10 commented on #829
Hmm, OK let's test with the new fix and see if you still get it. I will let you know when a new version is released. It should be in the coming days!

[2022-07-18 09:21] atex21 commented on #825
Hi @shalvah !
I still have no news 😩

The new relic info is basically:
`package.json `
"newrelic": "8.14.1"

`app.js`
const newrelic = require('newrelic');

`newrelic.js`

[code]

[2022-07-18 19:36] shalvah commented on #825
Sorry to make another request, but please share the stack trace with New Relic disabled. Still trying to understand why it's trying to call the uncaught exception handler. Maybe another error is being thrown? 🤔

[2022-07-19 06:50] #829 closed

[2022-07-19 07:03] subzero10 commented on #829
Hey @qnighy, can you please try again with `v4.0.4`? Thanks!

[2022-07-19 07:43] atex21 commented on #825
Hi @shalvah!

My debug without new relic seems to enter in a loop that breaks docker.. but in order to capture some logs I broke the loop and what I have is:

[logHoneybadgerLoop.txt](https://github.com/honeybadger-io/honeybadger-js/files/9138646/logHoneybadgerLoop.txt)

my console.logs are in `@honeybadger-io/js/dist/server/honeybadger.js` that is:

[honeybadger.js.txt](https://github.com/honeyba

[2022-07-19 09:10] shalvah commented on #825
@atex21 looks like these are logs for v3. Let's focus on v4, please. 🙏

[2022-07-19 09:14] shalvah commented on #825
Oh never mind. Looks like these are v4, but the error seems to be the first one you posted (which was v3)

[2022-07-19 09:15] atex21 commented on #825
🤔
which v3 and v4 are you talking about?! I'm using honeybadger 4.0.3

[2022-07-19 09:34] shalvah commented on #825
Thanks, this is very helpful. Could you add a `console.log(options.endpoint, httpOptions)`, just before ` var req = transport.request(`?

[2022-07-19 10:00] atex21 commented on #825
it prints:
[code]

[2022-07-19 12:13] atex21 commented on #825
@shalvah I forget to mention that the logs I sent you are related to direct call to Honeybadger.notify with no use of middleware.

Updating the code as you mentioned in updated doc, middleware + use of errorHandler call, I have:
![Screenshot 2022-07-19 at 12 53 50](https://user-images.githubusercontent.com/93918230/179747506-fde334bb-58fa-414e-9b4f-c8c8cbe13cb1.png)
[withHoneybadgerErrorHandler.tx

[2022-07-20 18:37] atex21 commented on #825
Hey @shalvah !
After one more bunch of hours debugging this.. I found a similar issue about [[ERR_INVALID_ARG_TYPE]: The "listener" argument must be of type function. Received an instance of Object](https://stackoverflow.com/questions/62425918/issue-err-invalid-arg-type-the-listener-argument-must-be-of-type-function) and tried to apply the solution mentioned..
what seems strange because both `http

[2022-07-23 11:55] shalvah commented on #825
Found the problem.

`socks-proxy-agent` is patching Node.js' http(s).reuqest (via `node-agent-base`)

You can see similar issues:
- [this guy](https://github.com/sindresorhus/got/issues/951) is experiencing the same 127.0.0.1 problem

This behaviour was fixed [in 2019](https://github.com/TooTallNate/node-agent-base/pull/36), so upgrading `agent-base` to [v5](https://github.com/TooTallNate/node-age

[2022-07-25 08:02] atex21 commented on #825
Hi @shalvah !
Thank you for your help here 🙏
I also had noticed the point you mentioned about agent-base, but as you also said it's something I'm not able to upgrade (at least now), it's a dependency of a dependency ..

So, since you opened a PR with the workaround change in your side, which is the timeline to have it available to use (approximately 😅)?

Again, thanks a lot for your assistance!

[2022-07-25 15:10] shalvah commented on #825
Just need a review from @subzero10 or @joshuap, and then I can merge and see about publishing a release.

[2022-07-25 15:36] subzero10 commented on #825
Hey @shalvah, I just approved!
@shalvah and @atex21 thank you both for not giving up!

I am still confused though about [this](https://github.com/honeybadger-io/honeybadger-js/issues/825#issuecomment-1188977050) error. How is that related to the PR you submitted?

[2022-07-25 15:44] atex21 commented on #825
Hey @subzero10 !
The error you mentioned is another one, that occurred to me when I used the [new steps in the documentation about middleware](https://docs.honeybadger.io/lib/javascript/integration/node/#sails-js).
After that error I removed the middleware again and simply use `Honeybadger.notify` in `api/responses/serverError.js` and I arrived to the solution submitted in the PR.

So, probably it

[2022-07-25 15:48] shalvah commented on #825
Good point. That error only occurs because the original report sending crashed, leading to the uncaughtException handler being called. At that point, we've switched the store to the AsyncStore, which only works if it's inside a `run()` block, otherwise it returns undefined.. The solution would be to ignore an undefined value of store. Sending in a fix

[2022-07-25 16:08] #825 closed

[2022-07-26 05:54] subzero10 commented on #825
Oh, that's an edgy scenario! Now it makes sense!

[2022-07-26 20:04] shalvah opened #847 "Support `Error.cause`"
[`error.cause`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/cause) was [recently standardized in JavaScript](https://2ality.com/2021/06/error-cause.html) (but it's been around on some platforms before that).

`error.cause` is useful in nested error situations, such as when we encounter an error while trying to report an error (as recently in #825 ). In su

[2022-07-26 20:12] joshuap commented on #847
We do support it, and I recently created a similar issue with more details that will also be useful here! https://github.com/honeybadger-io/honeybadger-python/issues/111

[2022-07-26 20:16] shalvah commented on #847
Nice, thanks!

[2022-07-26 20:47] subzero10 commented on #825
Hey @atex21, this is fixed with `v4.0.5`!

[2022-07-27 05:27] tom-quiltt opened #880 "Build step is attempting to upload source maps, and not finding any"
## What are the steps to reproduce this issue?

1. Setup a Next.js v12 project
In `next.config.js`
[code]
2. Run build
[code]
3. Observe error `Honeybadger could not find any sourcemaps. Nothing will be uploaded.`

## What happens?

Honeybadger cannot find source map and mentioned nothing will be uploaded.

## What were you expecting to happen?

Expect sourcemap to be uploaded.

## Any logs, error

[2022-07-27 08:19] atex21 commented on #825
Thank you @subzero10 & @shalvah for your efforts here!
Let's do it 🤾‍♀️

[2022-07-28 07:22] qnighy commented on #829
It's working now, thanks!

[2022-07-28 07:23] subzero10 commented on #829
Great! Glad I could help!

[2022-08-09 20:41] #847 closed

[2022-08-10 11:28] mohitharshan123 commented on #570
@joshuap Is there any way to disable honeybadger reporting errors when user manually runs js from console ? Users might be just using the console to test something totally unrelated and it would create unnecessary issues in the repo.

[2022-08-10 16:54] joshuap commented on #570
@mohitharshan123 I don't know of a way to selectively disable our instrumentation if the code is in the console, but we shouldn't be reporting uncaught errors in the console. Calling `Honeybadger.notify` directly may report errors, as would calling some other async functions such as `setTimeout`. Do you know how the unwanted errors are being reported? Take a look at our [Reducing Noise](https://do

[2022-08-12 11:31] subzero10 opened #856 "Make Conventional Commits syntax optional for contributors"
Discussed [here](https://github.com/honeybadger-io/honeybadger-js/pull/844#pullrequestreview-1068961472).

TODO:
- [ ] Update readme page to say that CC syntax is optional
- [ ] Research on how to enforce CC on main branch

[2022-08-12 11:32] subzero10 commented on #760
Hey @ntalbott, is this still an issue for you?

[2022-08-16 12:49] subzero10 opened #860 "Serverless.com - throws error for sync lambda"
## What are the steps to reproduce this issue?
1. Create a serverless project
2. Create a simple synchronous handler that returns 200 (no callback, no async/await)
3. Wrap handler with Honeybadger.lambdaHandler
4. Do `sls deploy`

## What happens?
Honeybadger client throws error.

## What were you expecting to happen?
Should not throw error.

## Any logs, error output, etc?
[code]

## Any other co

[2022-08-16 18:36] #763 closed

[2022-08-16 18:37] subzero10 opened #861 "Automatic Scheduled Releases"
Re-implement scheduled deployments within the monorepo, as discussed [here](https://github.com/honeybadger-io/honeybadger-js/pull/844#issuecomment-1210865721).

[2022-08-25 17:26] joshuap opened #933 "Missing stack trace info in iOS error"

[2022-08-25 19:15] sbusch99 opened #863 "Installing with "^4.0.1" vs "4.0.1""
## What are the steps to reproduce this issue?
For node 16.14.2, npm 8.12.1
In package.json
[code]

[code]
## What happens?
[code]
## What versions are you using?
**Operating System:** …
**Package Version:** node 16.14.2, node 8.12.1
**Browser Version:** …

## Comments
If I change to below it works. With ^4.0.1, 4.1.0 is installed
[code]

[2022-08-31 19:15] p8 opened #864 "`Configure` not found in '@honeybadger-io/js'"
## What are the steps to reproduce this issue?

After upgrading to version 4.x the following code no longer works with Webpacker.
[code]

## What happens?
I get the following error:
[code]

## What versions are you using?
**Webpacker:** 5.4.3
**Package Version:** Tested 4.0.5 and 4.1.1

[2022-08-31 20:15] subzero10 commented on #864
Hello @p8, can you try importing like below and let me know if it works for you?
[code]

[2022-08-31 20:54] subzero10 commented on #863
@joshuap This happens because we are using `aws-lambda` type definitions but we do not have `aws-lambda` as a dependency in the `package.json` file. This is because we just define the types for our `lambdaHandler` wrapper with the help of `@types/aws-lambda`, nothing else.

This could be solved in 2 ways:
1. Ask people to set `skipLibCheck: true` in their tsconfig.json file, which tells Typescript

[2022-08-31 21:10] joshuap commented on #863
I like it 👍

[2022-09-01 05:49] #863 closed

[2022-09-01 05:52] subzero10 commented on #863
@sbusch99 This should be fixed with `v4.1.2`!

[2022-09-01 09:46] p8 commented on #864
Hi @subzero10 then I get:
`export 'default' (imported as 'Honeybadger') was not found in '@honeybadger-io/js'`

[2022-09-02 13:52] subzero10 commented on #864
The difference between v3 and v4 of the Honeybadger client is that on v3 the typescript compiler transpiles to es5 and v4 transpiles to es6. There are some more details in this process, because this is the time we moved to the monorepo but after a few hours of testing, I believe this is what broke compatibility with Webpacker.

I was able to reproduce this issue as @p8 mentioned above with Webpack

[2022-09-02 15:15] joshuap commented on #864
@subzero10 For the npm package entrypoints (the `main` and `browser` entries in package.json), each build should be using the least amount of bundling/transpiling possible. If I recall correctly, the main reason I used rollup for all builds is for TypeScript support (although there may be other reasons), and rollup made it easier to output several builds for different environments (including the f

[2022-09-04 15:39] #864 closed

[2022-09-04 16:04] subzero10 commented on #864
@joshuap Thanks for the insights, I will do some research and come back with suggestions. FYI, for typescript compilation, we are using the `tsc` compiler directly now because of we make use of [Project References](https://www.typescriptlang.org/docs/handbook/project-references.html), a feature that is not supported with the typescript plugin of rollup. Rollup only does the bundling since we switc

[2022-09-05 05:49] p8 commented on #864
Thanks @subzero10 It was working now!

[2022-09-09 05:37] #861 closed

[2022-09-09 06:19] subzero10 opened #868 "Move honeybadger-webpack to the monorepo"
I will start moving js packages into the monorepo and this is the first one.
With this package, I am composing a [guide](https://www.notion.so/honeybadger/549be6376a6246e19d6291bf8bdcee69?v=02c2f9dfbe41498ebd8f43880fb4e782&p=118e6bb566d34b3e92779038389da79b&pm=c) so that it can be applied on the rest.

[2022-09-09 13:58] subzero10 opened #870 "Move honeybadger-vue to the monorepo"

[2022-09-10 11:50] rvdsarr opened #878 "Using root as assets folder"
Hi guys,

I am using my root as assets folder (Laravel 8). The webpack extension finds the assets in /js/app.js and /css/app.css.
This however did not work for me, as HoneybadgerSourceMapPlugin.js line 207 checks for ending "/" and adds it if missing.

So for me that added a double slash. https://example.com//js/app.js which did not work.

var sep = this.assetsUrl.endsWith('/') ? '' : '/';
var sep

[2022-09-12 04:20] ingrocha opened #877 "HoneybadgerSourceMapPlugin: ENOENT: no such file or directory, open 'apps/suw-web-portal/dist/styles.js.map'"

[2022-09-13 17:10] #868 closed

[2022-09-14 06:25] tom-quiltt commented on #880
Thank you, I look into the [comment you linked](https://github.com/honeybadger-io/nextjs-with-honeybadger/issues/7#issuecomment-1042266120) and was able to make it work but while it can [pin point the offending line of code and able to links to the correct sha and line of code in Github](https://app.honeybadger.io/projects/95215/faults/88266798), I was expecting it to show some js code like a [Rai

[2022-09-14 17:30] subzero10 opened #882 "Automatically update versions on honeybadger-io/honeybadger, honeybadger-io/docs and honeybadger-io/www repositories when CDN version changes"
When the `js` package is released with a major or minor version update, we should change the update repositories to point to the updated version:
- honeybadger
- docs
- www

Possible solutions:
1. create issues on each repository after a successful major/minor release of the js package
2. trigger workflows on each that update links to point to the updated version of the major/minor release of the

[2022-09-16 09:01] subzero10 commented on #878
Hey @rvdsarr, I tried to reproduce this by creating a laravel app, but then I saw that the latest version of laravel (v9) does not come with Laravel Mix.

I changed the logic to build the url and then use regex to remove any duplicate slashes (see #886).
I tested the following combinations:
- `assetsUrl = 'https://example.com'` | `sourceFile = '/js/app.js'` => `https://example.com/js/app.js`
- `as

[2022-09-16 09:31] #880 closed

[2022-09-16 12:11] subzero10 commented on #877
Hello @ingrocha, I've done some debugging and it appears that this is an issue we already looked at [previously](https://github.com/honeybadger-io/honeybadger-webpack/issues/325). Basically, we should not be trying to upload source maps to Honeybadger when the `webpack-dev-server` is running. So far, we were able to [solve](https://github.com/honeybadger-io/honeybadger-webpack/pull/328) by checkin

[2022-09-16 15:32] subzero10 commented on #860
This happens because we wanted to keep the same lambda handler definition as handler we are wrapping:
- for async / promise-based handlers, we wrap them to a promise-based handler
- for callback-based handlers, we wrap them to a callback-based handler

In order to achieve this, we have to deduce the type of the handler and the way we do that is not 100% consistent: we simply check the number of pa

[2022-09-17 02:41] tom-quiltt commented on #880
<img width="734" alt="Screen Shot 2022-09-16 at 7 39 27 PM" src="https://user-images.githubusercontent.com/108757230/190837433-29d82ea7-62be-4a08-afe8-8886d8f2ac71.png">
<img width="755" alt="Screen Shot 2022-09-16 at 7 40 12 PM" src="https://user-images.githubusercontent.com/108757230/190837435-d3834ab9-3d80-4346-b76d-4bbf8734e81b.png">
Sorry, @subzero10 , I thought Honeybadger staff could access

[2022-09-17 14:41] subzero10 commented on #878
Same! I'd be able to debug further with a reproducible example, but #886 makes sense to merge.

[2022-09-17 14:46] #860 closed

[2022-09-17 14:49] #870 closed

[2022-09-18 09:48] rvdsarr commented on #878
Hi guys,

Thanks for the quick responds! I can confirm above fix works for me and all seems ok now.

I am using "laravel/framework": "^8.65", at the moment. If you want, I can send you (private) my package and composer files so you can resproduce?

[2022-09-20 06:49] #878 closed

[2022-09-20 15:54] subzero10 commented on #880
Hmm, could it be that source maps are being uploaded but not correctly mapped to the errors?

Can you please check one more thing for me?
At the bottom of the _Honeybadger Style Backtrace_ section, there should be a note about the source maps, whether they have been applied or not.
If they were not applied it should be as in the following screenshot:
<img width="539" alt="image" src="https://user-

[2022-09-20 21:40] joshuap commented on #880
Note that the docs repo is private, so won't be available to most people. :) I'm all for a Next.js guide, though (and updating the example).

We also have a general source maps troubleshooting guide here:

https://docs.honeybadger.io/lib/javascript/support/troubleshooting/#source-map-is-not-working

@tom-quiltt Based on your screenshot, it does appear that your source map is being applied (hence t

[2022-09-30 09:59] subzero10 commented on #882
Done with [this](https://github.com/honeybadger-io/honeybadger/issues/3497).

[2022-09-30 09:59] #882 closed

[2022-09-30 11:37] subzero10 opened #899 "Move gatsby plugin to the monorepo"
Follow this [guide](https://www.notion.so/honeybadger/Migrate-a-js-package-to-the-js-monorepo-118e6bb566d34b3e92779038389da79b) to move our [gatsby](https://github.com/honeybadger-io/gatsby-plugin-honeybadger) plugin to the monorepo.

[2022-09-30 11:40] subzero10 opened #900 "Move react-native client to the monorepo"
Follow this [guide](https://www.notion.so/honeybadger/Migrate-a-js-package-to-the-js-monorepo-118e6bb566d34b3e92779038389da79b) to move the [react-native](https://github.com/honeybadger-io/honeybadger-react-native) client to the monorepo.

[2022-10-01 15:07] subzero10 opened #902 "Set up Jest testing for React Native"
Our React Native package does not have any unit tests. We should create some to maintain the quality of the package with updates.

[2022-10-01 15:54] subzero10 opened #904 "Gatsby Plugin is missing unit tests"
Our Gatsby plugin package does not have any unit tests. We should create some to maintain the quality of the package with updates.

[2022-10-03 18:36] npahucki opened #905 "Errors caught in middleware error handler cause process crash"
## What are the steps to reproduce this issue?
1. Write code that configures HoneyBadger (v4.3.1), making sure not to disable breadcrumbs:

[code]

3. Use the HB middleware as the last in the stack:
[code]

## What happens?
Calling `Honeybadger.notify()` works as expected.
However, when errors occur in Express controllers, there is an error in the HB client library that in turn causes an uncaught

[2022-10-04 10:09] christianopaets commented on #686
@subzero10 any updates on it?

[2022-10-04 15:34] npahucki commented on #905
I forgot to mention this strange fact: This problem appeared when we upgraded from Node 10 to Node 12.

[2022-10-04 18:57] #899 closed

[2022-10-11 08:03] ntalbott commented on #760
In the last week we’ve seen it 5-20 times/day, pretty much every day.

—
Nathaniel
<:((><

[2022-10-11 12:43] anonyo opened #907 "@types/express is required by server middleware"
## What are the steps to reproduce this issue?

1. cd into https://github.com/honeybadger-io/honeybadger-js/tree/master/packages/js/examples/aws-lambda
2. yarn install
3. sls offline start

## What happens?
[code]

Also happening on version
[code]

## What were you expecting to happen?

- Shouldn't have to add `@types/express`.
- Be able to support applications without express.

## Any logs, error

[2022-10-11 16:08] joshuap commented on #907
Thanks @anonyo! We're working on this one, but one of our maintainers is on vacation so it might be a few weeks. In the meantime, I think you can fix this error by adding the `@types/express` package:

[code]

[2022-10-12 19:04] #905 closed

[2022-10-15 07:28] subzero10 commented on #686
Hey @christianopaets, I haven't looked into this since January. It's in my todo list, I will try to bump it up.

[2022-10-19 11:42] subzero10 commented on #570
@joshuap Is there any action we want take from this?

Should we go ahead and implement the original idea _disable instrumentation for non-prod environments by default_ ?

[2022-10-19 20:10] joshuap commented on #570
This might be the way to  go. The reason that instrumentation is *not* disabled in development environments currently (and this is how most of our other libs work) is that I want to run as much production code as I can so that bugs or incompatibilities surface earlier (and in test runs). That's why "dev environment" usually just means that we don't send live data, but everything else works like it

[2022-10-19 22:22] bpinto opened #915 "Package size increased considerably"
## What are the steps to reproduce this issue?
Open [bundlephobia](https://bundlephobia.com/package/@honeybadger-io/js@4.6.0) and check the bundle size graph.

## What happens?

The size of the package has increased considerably in the last few minor versions even though not much code has been added.

## What were you expecting to happen?

Bundle size to have slightly increased.

## Any logs, erro

[2022-10-21 08:40] subzero10 commented on #915
Hey @bpinto, thanks for submitting an issue!

I can see 3 bumps regarding size:
- `v3.2.9` -> `v4.0.0` -> This was a big release (features/fixes). I compared the bundled files and it appears that the bump is due to the amount of code added. Add to the fact we have an isomorphic package with both browser and server distributions, any changes will end up in two generated bundles.
- `v4.0.5` -> `v4.1

[2022-10-21 12:51] bpinto commented on #915
@subzero10 thanks for the reply!

I agree that the package size increase is fine given the size of the package. For context, I noticed the size increase cause we have a GitHub action that will tell us whether a PR is increasing our bundles and by how much. And honestly, I wasn't expecting anything perceptive coming out from the changelog.

I believe types wouldn't affect the final, and minified, j

[2022-10-23 15:02] subzero10 commented on #915
No they don't (or at least they shouldn't), but they are included in the npm package.

I didn't know about [npm-explorer.tk](https://npm-explorer.tk), thanks for sharing! With this tool, the unzipped package size of `v4.1.0` is actually smaller than `v4.0.5`, which is expected considering we extracted some code to a different npm package ([@honeybadger-io/core](https://www.npmjs.com/package/@honey

[2022-10-23 15:02] #915 closed

[2022-10-27 00:34] bpinto commented on #915
I was talking about rollup.

Thanks!

[2022-10-27 12:40] #856 closed

[2022-10-28 09:55] #907 closed

[2022-10-28 11:02] subzero10 commented on #907
@anonyo This should be fixed with [v4.6.2](https://github.com/honeybadger-io/honeybadger-js/releases/tag/v4.6.2)!

[2022-11-01 21:36] #900 closed

[2022-11-03 10:26] loic-usertesting commented on #686
It would be really useful when working with a Browser extension as manifest v3 is becoming the norm...

[2022-11-03 16:06] zhanfengh commented on #686
Hello, we run a popular Chrome extension. And Honeybadger is an essential component of error reporting for us.

Google Chrome has mandated all Chrome extensions to be migrated to Manifest V3 and one of the notable changes of MV3 is that it [replaces background pages with service workers](https://developer.chrome.com/docs/extensions/mv3/mv3-migration/#man-sw). The DOM and `XMLHttpRequest()` [are no

[2022-11-07 00:56] bpinto opened #934 "[feat] Support non-error cause property"
## What are the steps to reproduce this issue?

Throw an error with data inside `cause` property.

[code]

## What happens?

Error `cause` is not visible on HoneyBadger web UI.

## What were you expecting to happen?

Error `cause` to be visible on Honeybadger web UI.

## Any other comments?

From [mdn](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/cause).

[2022-11-08 01:19] joshuap commented on #934
Cool idea! cc @subzero10 @shalvah

[2022-11-08 14:07] subzero10 commented on #686
Hey @zhanfengh, thank you for your insights and feedback. Then, I guess I should look into this before the EOY!
cc @joshuap

[2022-11-09 00:42] joshuap opened #937 "Cannot read properties of undefined (reading 'breadcrumbs')"
A user reports that they have an Express backend that is crashing with the following error:

cc @subzero10 @shalvah

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_e4zvl)

[2022-11-09 08:21] subzero10 commented on #937
Which version are they using? This should already be fixed with #905.

[2022-11-10 01:09] joshuap commented on #937
I emailed to ask, will report back here.

[2022-11-11 13:59] subzero10 opened #943 "Feature Request: Collect User Feedback"
Similar to the [ruby](https://docs.honeybadger.io/lib/ruby/getting-started/collecting-user-feedback/) and [php](https://docs.honeybadger.io/lib/php/guides/collecting-user-feedback/) packages, we want to bring the Collect User Feedback feature in the JS package as well.

Additionally, we should update the [Client Library Spec](https://www.notion.so/honeybadger/Client-Library-Spec-aa891332f7874196aa

[2022-11-12 06:28] guest271314 commented on #686
You can alternatively substitute `globalThis` for `self` `console.assert(globalThis === self)`.

It looks like `XMLHttpRequest` is referenced in /src/browser/transport.ts, src/browser/integrations/breadcrumbs.ts, and test.js.

For transport.ts you can do something like this, substituting `arrayBuffer()` for `text()`, `json()`, `blob()`, or `formData()` where appropriate

[code]

[2022-11-14 10:16] thatsmydoing opened #946 "`enableUnhandledRejection` silently swallows errors instead of exiting in nodejs"
## What are the steps to reproduce this issue?
[code]

## What happens?
The program exits successfully.

## What were you expecting to happen?
The program should exit with an error because of an unhandled promise rejection which is the standard behavior in nodejs.

## What versions are you using?
**Operating System:** Linux
**Package Name:** @honeybadger-io/js
**Package Version:** 4.7.1
**Browser

[2022-11-16 18:35] joshuap opened #948 "[webpack] Change default revision and examples from "master" to "main""

[2022-11-16 18:46] joshuap opened #949 "[webpacker] Compilation failed with no error output"
## What are the steps to reproduce this issue?

[code]

## What happens?
It compiles but fails to upload source maps.

## What were you expecting to happen?
It should compile successfully and upload the source maps to my Honeybadger project.

## Any logs, error output, etc?
[code]

## What versions are you using?
**Operating System:** macOS Monterey 12.6
**Package Name:** @honeybadger-io/webpack
*

[2022-11-17 18:55] #937 closed

[2022-11-18 11:01] subzero10 commented on #686
Thanks @guest271314, I will try this out!

[2022-11-19 03:24] KonnorRogers commented on #949
@joshuap I can't reproduce the "compilation failed".

Heres what I get on Node 16.18.1 :

[code]

However, when I just run a standard: `rails assets:precompile` initially it gives me the same issue you initially posted. After running `rails webpacker:compile` the output shows the above whenever I run `rails assets:precompile` I'm kinda stumped whats happening here...it feels like it may be related

[2022-11-19 15:08] subzero10 commented on #949
Hey @KonnorRogers,

I googled around for the `Invalid host defined options` error. I read [here](https://github.com/mochajs/mocha/issues/4594) that it may be related to Typescript and ESM. We may have made changes in this area when we moved to the monorepo, so here's something you could try:
- install a version of the `@honeybadger-io/webpack` package prior to v4. The latest version before the mon

[2022-11-19 16:06] subzero10 commented on #949
@KonnorRogers Update:
I just reproduced the issue on my local machine.
Then I tried with `@honeybadger-io/webpack@1.5.1` and it worked (with node v12), which probably means it's a bug we introduced after the monorepo migration.

[2022-11-19 19:14] KonnorRogers commented on #949
Alright, in further testing the "invalid API host options" is from "node-fetch-retry".

"node-fetch-retry" only gets about ~11k downloads/week and seems to be much less ubiquitous compared to:

https://www.npmjs.com/package/fetch-retry

which gets ~3million downloads/week.

I swapped the webpack project to use "fetch-retry" and it appears to work without any workarounds.

[2022-11-20 18:03] #897 closed

[2022-11-20 18:30] subzero10 commented on #949
Awesome! I'm so glad it didn't turn out to be a bug from the monorepo transition 😌 .

[2022-11-20 20:10] KonnorRogers commented on #949
@subzero10 i really have no idea where the bug is actually hiding, I commented everything out and narrowed it down to the 1 package,  it have no idea what was causing it. Bizarre that it worked with the previous version. Oh well 🤷‍♂️

[2022-11-21 07:01] subzero10 commented on #949
We could dig deeper but I don't see the point now. Let's merge and test this once more with a patched version of the package.

[2022-11-22 00:05] joshuap commented on #949
Great work you two!

[2022-11-22 19:54] subzero10 commented on #949
This should be fixed with `v4.7.3` of `@honeybadger-io/webpack`!
I tested with node v12, v14, v16 and v18.
Note: for v18, you will have to use one of the workarounds mentioned [here](https://stackoverflow.com/questions/69394632/webpack-build-failing-with-err-ossl-evp-unsupported), for example:
[code]

[2022-11-22 19:54] #949 closed

[2022-11-22 21:02] subzero10 opened #956 "Support for CloudFlare Workers"

[2022-11-22 21:22] subzero10 opened #957 "Independent versioning for the monorepo packages"
https://lerna.js.org/docs/features/version-and-publish#versioning-strategies

[2022-11-23 17:37] KonnorRogers commented on #686
Alright, theres a ton of calls beyond the transport.ts file mentioned, thats probably the first code path that gets hit. we make to window objects and XMLHTTPRequest, I'm gonna keep plugging through it, but heres an initial PR for what the `transport.ts` would be refactored to, PR is WIP as it'll be a fairly large refactor.

https://github.com/honeybadger-io/honeybadger-js/pull/958

[2022-11-25 08:09] subzero10 commented on #570
FYI, I'm totally onboard with this.

Can you share an example of removed debug info so that I can do some research/testing on my side? I'm trying to reproduce by logging an error in the console with and without Honeybadger and I don't see the difference.
Note: This reminds me of the vue.js [console logging inconsistencies](https://github.com/honeybadger-io/honeybadger-vue/pull/881) we had to deal

[2022-11-26 22:26] #946 closed

[2022-11-26 22:42] subzero10 commented on #946
@thatsmydoing This should be fixed with `v4.7.4`!

[2022-11-26 23:02] subzero10 opened #960 "`uncaughtException` handler not working as expected with latest release"
While manually testing `v4.7.4` I noticed that for `uncaughtException`, we register 2 listeners (at least that's how it appears to be so):
- `domainUncaughtExceptionClear`
- `honeybadgerUncaughtExceptionListener`

Moreover, the Honeybadger [instance sets `fatallyLogAndExit` as the `afterUncaught` handler](https://github.com/honeybadger-io/honeybadger-js/blob/master/packages/js/src/server.ts#L41),

[2022-11-27 07:24] subzero10 opened #961 "Add "engines" property in package.json"
For better user experience, we should include the [engines](https://docs.npmjs.com/cli/v9/configuring-npm/package-json#engines) field in our package.json files.